#banner-risposte{
  
  
  
 h1{
 color: $text-green;
 font-size: 18px;
 font-family: 'Droid Sans';
 font-weight: bold;
 line-height: 20px;
 margin-top: 12px;
 
}

 .risposte{
 color: $link-blue;
 font-size: 27px;
 font-family: 'Droid Sans';
 font-weight: bold;
 	
 }

}

hr{
	width: 600px;
	height: 2px;
    background: $fluo-blue;
	}
