    //	BOTTONE BOX ALTRO UTENTE
	
	
	.bottone-segui-utente{
		background-color:$fluo-blue ;
		width: 144px;
		height: 22px;
		border-radius:30px;
		margin-left: 40px; 
	    overflow: hidden;
		
		p{
		color: $text-green;
		font-size: 13px;
		font-family: 'Droid Sans';
		font-weight: bold;
		position: absolute;
		margin-left: 9px;
		margin-top: 1px;
		
		
		}
		
	}

    //	FINE BOTTONE BOX ALTRO UTENTE
    

