
#categoria-corso{
	  
	  
	 form fieldset {
	  		margin: 0px 0 20px 30px;
	  		font-family: 'Droid Sans';
	  		font-size: 18px;
	  		font-weight: bold;
	  		text-transform: uppercase;
	  		color: $light-green;
	  		margin-top: -23px;
	  		
	  		}
	  	   
	  	   
	  	form fieldset label {
	  		display: block;
	  		font-weight: bold;
	  		color: $azzurro_title;
	  		margin-left: -10px;
	  		float: left;
	  		}
	  		
	  	form fieldset input.form-text {
	  	    margin-top: 30px;
	  	    margin-left: 76px;
	  		display: block;
	  		width: 400px;
	  		height: 25px;
	  		padding: 5px;
	  		border: 1px solid #65c1b0;
	  		background:#b9efeb;
	  		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	  		-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	  		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	  		-webkit-border-radius: 4px;
	  		-moz-border-radius: 4px;
	  		border-radius: 5px;
	  		float: left;
	  		}
	  		
	.sottolineato{
	  		background: image-url("sottolineato-form.png") no-repeat left top;
	  		width: 56px;
	  		height: 6px;
	  		margin-left: 3px;
	  	}
	  	
	  	}
	  	
	  #descrizione{	
	  
	  
	  	form fieldset2 {
	  	 		font-family: 'Droid Sans';
	  	 		font-size: 18px;
	  	 		font-weight: bold;
	  	 		text-transform: uppercase;
	  	 		color: $light-green;
	  	 		
	  	 		}
	  	 	
	  	 	form fieldset2 label {
	  	 		display: block;
	  	 		font-weight: bold;
	  	 		color: $azzurro_title;
	  	 		float: left;
	  	 		margin-left: 20px;
	  	 		}
	  	 		  	 			  		  
	  	 	  	.sottolineato{
	  	 		background: image-url("sottolineato-form.png") no-repeat left top;
	  	 		width: 108px;
	  	 		height: 6px;
	  	 		margin-left: 3px;
	  	 	}
	  	
	  	
	  	
	  	form fieldset2 textarea {
	  		display: block;
	  		width: 400px;
	  		padding: 5px;
	  		font-size: 14px;
	  		border: 1px solid #65c1b0;
	  		background: #b9efeb;
	  		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	  		-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	  		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	  		-webkit-border-radius: 4px;
	  		-moz-border-radius: 4px;
	  		border-radius: 5px;
	  		margin-left: 30px;
	  		float: left;
	  		margin-left: 24px;
	  		}
	  	
	  	form fieldset2 textarea {
	  		height: 200px;
	  		}
	  		 	  		  	
	  	}
	  	
	  	  	 	
	  	
	  	
		  
