
#link-riferimento{
	  
	  
	 form fieldset {
	  		margin: 0px 0 20px 30px;
	  		font-family: 'Droid Sans';
	  		font-size: 18px;
	  		font-weight: bold;
	  		text-transform: uppercase;
	  		color: $light-green;
	  		margin-top: -23px;
	  		
	  		}
	  	
	  	form fieldset label {
	  		display: block;
	  		font-weight: bold;
	  		color: $azzurro_title;
	  		margin-left: -10px;
	  		}
	  	form fieldset input.form-text {
	  	    margin-top: 17px;
	  	    margin-left: -16px;
	  		display: block;
	  		width: 281px;
	  		height: 25px;
	  		padding: 5px;
	  		border: 2px solid $dark-green;
	  		background:$light-soft-blue;
	  		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	  		-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	  		-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	  		-webkit-border-radius: 4px;
	  		-moz-border-radius: 4px;
	  		border-radius: 10px;
	  		float: left;
	  		}
	  		
	  		
	  		  form fieldset input.form-text-2 {
	  		      margin-top: 17px;
	  		      margin-left: 21px;
	  		  	display: block;
	  		  	width: 281px;
	  		  	height: 25px;
	  		  	padding: 5px;
	  		  	border: 2px solid $dark-green;
	  		  	background:$light-soft-blue;
	  		  	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	  		  	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	  		  	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	  		  	-webkit-border-radius: 4px;
	  		  	-moz-border-radius: 4px;
	  		  	border-radius: 10px;
	  		  	float: left;
	  		  	}
	  		  
	  	  	.sottolineato{
	  		background: image-url("sottolineato-form.png") no-repeat left top;
	  		width: 177px;
	  		height: 6px;
	  		margin-left: 3px;
	  	}
	  	
		  
}