.corsi_creati{
	.number{
		background-color:$light-green;
		margin-left:25px;

		margin-right:10px;
		width: 19px;
		height: 19px;
		background: $light-green;
		color: white;
		font-weight: bold;
		font-size: 12px;
		position: relative;
		float: left;
		text-align: center;
		border-radius: 10px;
		padding: 1px 0 0 1px;
		
	}
	h4{
		font-size: 15px;
		color: $dark-green;
		font-family: 'Droid Sans';
		font-weight: bold; 
		text-transform:uppercase;
		margin-bottom:10px;     
		margin-top:10px;
	}
	a{
		text-decoration: none;
		overflow: visible;
		float:left;
		.box_corso{
			width: 312px;
			height: 363px;
			background: image-url("background_profilo_categoria.png") no-repeat left top;
			font-family: 'Droid Sans';
			color: $dark-green;
			h2{
				width: 282px;
				font-weight: bold;
				font-size: 13px;
				line-height: 15px;
				text-transform: uppercase;
				padding: 20px 0 0 30px;
				margin: 0;
			}
			h1{
				width: 270px;
				height: 77px;
				font-weight: bold;
				font-size: 22px;
				line-height: 27px;
				text-transform: uppercase;
				overflow: hidden;
				padding: 20px 0 0 20px;
				margin-left:10px;
				//							@include ellipsis;
			}
			.numero_lezioni{
				position: relative;
				float: right;
				padding: 0 10px 0 0;
				margin: 10px 0 8px 0;
				.number{
					width: 19px;
					height: 19px;
					background: $light-green;
					color: white;
					font-weight: bold;
					font-size: 12px;
					position: relative;
					float: left;
					text-align: center;
					border-radius: 10px;
					padding: 1px 0 0 1px;
					margin-top: -2px;
				}
				span{
					font-weight: bold;
					text-transform: uppercase;
					position: relative;
					float: left;
					font-size: 10px;
					margin-left: 4px;
					color: $light-green;
				}
			}
			.cover_corso{
				padding: 0 0 0 20px;
				margin: 0;
				margin-left:10px;
				width: 270px;
				height: 85px;
				overflow: hidden;
			}

			.tipologie_lezioni{
				list-style-type: none;
				@include clearfix;
				margin-left:28px;  
				li{
					position: relative;
					float: left;
					font-weight: bold;
					font-size: 12px;
					margin: 8px 23px 0 0;
					padding: 0;
					.icon{
						position: relative;
						float: left;
						font-size: 21px;
					}
					span{
						position: relative;
						float: left;
					}
				}
				li:last-child{
					margin-right:0px;
				}
			}
		}
	}
}