.crea-esercizio{
	margin-top:20px;
	@include clearfix;
	background-color: $soft-blue;
	height: 200px;
	.risposta{
		background: image-url("sfondo-es.png") repeat left top;
		width:186px;
		height:28px;
		margin-left:5px;
		margin-top:5px;
		 
		h4{
			font-family: 'Droid Sans';
			text-transform:uppercase;
			color: #418c89;
			font-size:15px;
			line-height:30px;
			font-weight:bold;
			margin-left:20px;
			 $default-text-shadow-h-offset: 0px;
			 $default-text-shadow-v-offset: 1px;
			 $default-text-shadow-color: $white;	       
			 @include single-text-shadow;
		}
	}
	
	 
	 #box{
	 position:absolute;
	 height:21px;
	 width:21px;
	 margin-left: 550px;
	 margin-top: -15px;
	 background: $dark-green;
	 font-family:Arial;
	 border-radius: 30px;
	 }
	 
	 .x{
	 color:white;
	 position:absolute;
	 margin-left: 6px;
	 margin-top: 1px;
	 cursor: pointer;
	 
	 }
	 
	 .x:active{
	 color:$fluo-blue;
	 }
	 
	.box_domanda{
		margin-left:20px;
		margin-top:10px;
		height:102px;
		width:523px;
		border: 1px solid #75efc7;
		.frase{
			margin-top:10px;
			height:32px;
			width:450px;
			margin-left:20px;
			background-color: #b9efeb;
			border: 2px solid  #65c1b0;
			border-radius: 15px;
			float:left;
			font-family: 'Droid Sans';
			text-transform:uppercase;
			color: #418c89 !important;
			font-size:15px;
			font-weight:bold;
			text-indent: 10px;
		}
		.giusto{
			width:30px;
			float:left;
			margin-left:13px;
		}
		p{
			font-family: 'Droid Sans';
			text-transform:uppercase;
			color: #418c89;
			font-size:12px;
			float:left;
			font-weight:bold;
			margin-left:3px;
			margin-top:2px;
		}
		a{
			margin-top:5px;
			margin-right:10px;
			width:20px;
			height:20px;
			float:right;
			background-color: #166059;
			border-radius: 20px;
			p{
				font-family: 'Droid Sans';
				text-transform:uppercase;
				text-align:center;
				font-size:11px;
				color: #75efc7;
				line-height:20px;
				float:left;
				font-weight:bold;
				margin-left:6px;
				margin-top:0px;
			}
		}
	
	}
}