#nome-corso{
	background: image-url("background-titolo-corso.png") repeat left top;
	width: 339px;
	height: 91px;
	float: left;
	
      h1{
       color: $light-green;
       font-family: 'Droid Sans';
       text-transform: uppercase;
       font-size: 16px;
       font-weight: bold;
       line-height: 20px;
       width: 253px;
       position: absolute;
       margin-left: 40px;
       margin-top: 1px;
       
           $default-text-shadow-h-offset: 0px;
         	    $default-text-shadow-v-offset: 2px;
         	    $default-text-shadow-blur: 1px;
         	    $default-text-shadow-color: $white;	       
         	@include single-text-shadow();
         
       
      }
}


#caricamento{
	background-color: $fluo-blue;
	width: 545px;
	height: 31px;
	float: left;
	margin-left: 4px;
	
}


 .ultime-lezioni{
   	position: relative;
   	float: right;
   	padding: 0 100px 0 0;
   	margin: 5px 0 8px 0;
   	margin-right: 135px;
   	
   	  span{
   	  	color: $dark-green;
   	  	font-family: 'Droid Sans';
   	  	font-weight: bold;
   	  	font-size: 10px;
   	  	margin-left: 5px;
   	  }
   	   
   	   .number{
   	   	width: 19px;
   	   	height: 19px;
   	   	background: $dark-green;
   	   	color: white;
   	   	font-weight: bold;
   	   	font-size: 12px;
   	   	position: relative;
   	   	float: left;
   	   	text-align: center;
   	   	border-radius: 10px;
   	   	padding: 1px 0 0 1px;
   	   	margin-top: -2px;
   	   }
   	   
   	
   	
   }



