
#immagine-copertina{

	  
	   form fieldset {
	  	margin: 0px 0 20px 30px;
	  	font-family: 'Droid Sans';
	  	font-size: 18px;
	  	font-weight: bold;
	  	text-transform: uppercase;
	  	color: $light-green;
	  	margin-top: -23px;
	  	
	  	}
	  
	 	 	  .sottolineato{
	  	background: image-url("sottolineato-form.png") no-repeat left top;
	  	width: 212px;
	  	height: 6px;
	  	margin-left: 3px;
	  }
	  
	  
	  .foto-copertina{
	  background: image-url("foto-utente.png") no-repeat left top;
	  width: 194px;
	  height: 181px;
	  	
	  }
	  
	  
	  
	 
	 form input[type="submit"] {
	 	margin: 0;
	 	padding: 5px 10px;
	 	font-size: 12px;	
	 	font-weight: bold;
	 	border: 1px solid #ccc;
	 	background:  $lighter-green;
	 	-webkit-border-radius: 4px;
	 	-moz-border-radius: 4px;
	 	border-radius: 4px;
	 	color: $dark-green;
	 	}
	 form input[type="submit"]:hover,
	 form input[type="submit"]:focus {
	 	border: 1px solid #bbb;
	 	background: red;
	 	}

	 .form-actions{
	 	margin-top: 10px;
	 	padding: 17px 4px 18px;
	 	background: none;
	 	border-top: none;
	 }	
	 	
	 	}
