#lesson{
	height: 400px;
	margin-top:10px;
	background: image-url("diagonal-green-bg.png") repeat left top;
	.infor{
		@include grid(5);
		height:100%;
		position: relative;
			
.comm{
	@include grid(5);
	@include omega;
	@include alpha;
	.container-comments{	
			height: auto;
			@include clearfix;
			
			margin-top:20px;
			margin-bottom:20px;
			border-right: 1px solid #C5FFEA;
			float: left;
			&.first{
				
				padding-right: 10px;
			}
			&.center{
				margin-left: 10px;
				margin-right: 10px;
				width: 80px;
			}
			&.last{
				border-right: none;
				float: right;
			}
			.box-number-comments{
				float: left;
				border-bottom: 1px solid $verde-scuro;
				border-left: 1px solid $verde-medio;
				border-right: 1px solid $verde-medio;
				border-top: 1px solid $verde-medio;
			.number-comments{
				font-weight: normal;
				font-size: 10px;
				line-height: 10px;
				color: $dark-green;
				background: $light-fluo-green;
				border-bottom: 1px solid $lightest-water-green;
				border-left: 1px solid $lighter-water-green;
				border-top: 1px solid $lighter-water-green;
				border-right: 1px solid $lighter-water-green;
				padding: 2px;
				text-align: center;
			}
		}
		.comments{
			font-weight: normal;
			font-size: 10px;
			line-height: 10px;
			color: $dark-green;
			text-transform:lowercase;
			float: left;
			margin-left: 4px;
			margin-right:1px;
			margin-top: 4px;
		}
	}

}
		.aut-date{
			position: absolute;    
			bottom: 9px;
			.data{
				.num{
					position: absolute;
					float: left;
					margin-top: 0;//34px;
					width: 25px;
					height: 25px;
					background-color: $dark-green; 
					@include border-radius ( 16px);
					bottom: -2px;
					p{
						padding-top: 3px;
						text-align: center;
						color: $white;
						margin: 0;
					}
				}
				.info-date{
					width: 140px;
					//                              bottom: -6px;
					font-family: 'Droid Sans';
					font-size: 11px;
					float: left;
					margin-left: 30px;
					.mese{
						font-weight: 700;
						color: $dark-green;
						text-transform: uppercase;
					}
					.ora{
						color: $light-green;
					}
				}
			}
			hr{
				@include grid(5);
				border: 0;
				height: 1px;
			}
			.top{
				margin: 8px 0 0 0;
				background: $acid-green;
			}
			.bottom{
				margin: 0 0 12px 0;
				background: $pale-water-green;
			}
		}
	}
	.foto{
		@include grid(11);
		@include omega;
		background-color: $fluo-blue-3;
		height:100%;           
	}
	h3{
		font-size: 15px;
		color: $dark-green;
		font-family: 'Droid Sans';
		font-weight: 700;
		text-transform: uppercase;
		padding-top: 20px;		
	}

	h1{
		font-size: 25px;
		line-height: 30px;
		color: $dark-green;
		font-family: 'Droid Sans';
		font-weight: 700;
		text-transform: uppercase;
		padding-bottom: 7px;
		$default-text-shadow-h-offset: 0px;
		$default-text-shadow-v-offset: 2px;
		$default-text-shadow-blur: 1px;

		$default-text-shadow-color: $pale-water-green;	       
		@include single-text-shadow();
	}

	h4{
		color: $dark-green;
		font-weight: 700;
		font-family: 'Droid Sans';
		text-transform: uppercase;
		font-size: 13px;
		span{
			color: $light-green;
			font-weight: 400;
			text-transform: capitalize;
		}
	}
	p{
		color: $dark-green;
		font-weight: 700;
		font-family: 'Droid Sans';
	}
}	
