#form-risposta-multipla{

background: none;


  h1{
  font-family: 'Droid Sans';
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $light-green;
  padding: 0 0 40px 0;
  }
	  p{
	   font-family: 'Droid Sans';
	   font-size: 13px;
	   font-weight: bold;
	   color: $text-green;
	   line-height: 14px;
	   
	     .link1{
	        color: $link-blue;
	        }
	     }
		   
		   .accetto1{
		   	float: left;
		   	margin-right: 10px;
		   }
		   .accetto2{
		   	float: left;
		   	margin-right: 10px;
		   	
		   }
 }