//	BOX PROFILO MIO UTENTE


#profilo-mio-utente{
background: image-url("background-profilo.png") no-repeat left top;
width: 618px;
height: 371px;
position: absolute;
margin-top: 20px;
      
      
      .profilo{
      margin-top: 30px;
      }

    .avatar{
    background: image-url("foto-utente.png") no-repeat left top;
    width: 194px;
    height: 181px;
    float: left;
    margin-left: 40px;
    }
    
    
    h1{
    font-size: 15px;
    color: $white;
    font-family: 'Droid Sans';
    font-weight: bold;
    text-transform: uppercase;	
    	
    }
    
    h2{
    font-size: 10px;
    color: $white;
    font-family: 'Droid Sans';
    font-weight: bold;
    text-transform: uppercase;
    line-height: 15px;	
    	
    }
    
    h3{
    font-size: 10px;
    color: $white;
    font-family: 'Droid Sans';
    font-weight: bold;
    text-transform: uppercase;
    
       .giorno{
       color: $light-petrolio;
       font-size: 12px;
       padding-right: 8px;
       }
       
       .ora{
       	font-weight: normal;
       	float: none;
       }
    	
    }
    
   .contenuti{
   list-style: none;
   margin-left: -30px;
   margin-top: 30px;
   float: left;
   
      a{
       color: $light-petrolio;
       font-family: 'Droid Sans';
       font-weight: bold;
       text-transform: uppercase;
       font-size: 11px;
       margin-left: 10px;
       line-height: 25px;
      }
   
     .number{
     	color: $input-field-border-green;
     	background-color:$fluo-blue;
     	width: 19px;
     	height: 19px;
        font-weight: bold;
     	font-size: 12px;
     	position: relative;
     	float: left;
     	text-align: center;
     	border-radius: 10px;
     	padding: 1px 0 0 1px;
     	margin-top: -2px;
     	
     	
     	line-height: 19px;
     }
     
     
     
       }
       
       
       #banner{
       background: image-url("banner-premi.png") no-repeat left top;
       width: 115px;
       height: 121px;
       margin-left: 511px;
       margin-top: -108px;
       
       
       }
     .bio{
     	position: absolute;
     	margin-top: 152px;
     	margin-left: 40px;
     	width: 277px;
     	
     	  p{
     	  color: $white;
     	  font-family: 'Droid Sans';
     	  font-weight: normal;
     	  font-size: 13px;
     	  line-height: 15px;
     	  
     	  }
     }
       
       #social{
       margin-left: 470px;
       margin-top: -170px;
       margin-top: -60px;
       	
       	
       	.facebook{
       	background: image-url("icona-facebook.png") no-repeat left top;
       	width: 41px;
       	height: 41px;
       	position: absolute;
       	}
       	
       	
       	.twitter{
       	background: image-url("icona-twitter.png") no-repeat left top;
       	width: 41px;
       	height: 41px;
       	position: absolute;
       	margin-left: 53px;
       	}
       }
       	
	}
	
	
	.divisore-profilo{
	 background: image-url("divisore-profilo.png") no-repeat left top;
	 width: 600px;
	 height: 2px;
	 margin-top: 260px;
	 margin-left: 18px;
	 position: absolute;
	
		
	}
	
	.comm-2{
	  	   
		@include grid(5);
		@include omega;
		@include alpha;
		
		position: absolute;
		margin-top: 95px;
		margin-left: 40px;
		.container-comments{	
				height: auto;
				@include clearfix;
				
				margin-top:20px;
				margin-bottom:20px;
				border-right: 1px solid $light-line-petrolio;
				float: left;
				&.two{
					
					padding-right: 10px;
				}
				&.center2{
					margin-left: 10px;
					margin-right: 10px;
					width: 80px;
				}
				.box-number-comments-2{
					float: left;
					border-bottom: 1px solid $darkest-blue;
					border-left: 1px solid $dark-blue;
					border-right: 1px solid $dark-blue;
					border-top: 1px solid $dark-blue;
				.number-comments-2{
					font-weight: normal;
					font-size: 10px;
					line-height: 10px;
					color: $azzurro-fluo;
					background: $light-petrolio-bg;
					border-bottom: 1px solid $lighter-green;
					border-left: 1px solid $water-green;
					border-top: 1px solid $water-green;
					border-right: 1px solid $water-green;
					padding: 2px;
					text-align: center;
				}
			}
			.comments-2{
				font-weight: normal;
				font-size: 10px;
				line-height: 10px;
				color: $dark-green;
				text-transform:lowercase;
				float: left;
				margin-left: 4px;
				margin-right:4px;
				margin-top: 4px;
			}
		}
	
	}
	
	
	
	
	#numbers-likes{
		margin-top: 10px;
		background: image-url("background_likes.png") no-repeat left top;
		width: 67px;
		height: 32px;
		position: absolute;
		margin-left: 184px;
		}
	
	.likes{
		float: left;
		margin-bottom: 12px;
		border-bottom: 1px solid $darkest-blue;
		border-left: 1px solid $dark-blue;
		border-right: 1px solid $dark-blue;
		border-top: 1px solid $dark-blue;
		.icona-likes2{
		    background: $white;
		    padding: 5px;
		}
	}
	
	.number-like2{
		font-weight: normal;
		font-size: 12px;
		line-height: 13px;
		color: $white;
		float: left;
		margin-left: 6px;
		margin-top: 4px;
	}
	
	
		
	#numbers-dislikes{
		margin-top: 10px;
		background: image-url("background_likes.png") no-repeat left top;
		width: 67px;
		height: 32px;
		position: absolute;
		margin-left: 264px;
		
		
	}
	.dislikes{
		float: left;
		margin-bottom: 12px;
		border-bottom: 1px solid $darkest-blue;
		border-left: 1px solid $dark-blue;
		border-right: 1px solid $dark-blue;
		border-top: 1px solid $dark-blue;
		.icona-likes2{
		    background: $white;
		    padding: 5px;
		}
	}
	
	.number-dislike2{
		font-weight: normal;
		font-size: 12px;
		line-height: 13px;
		color: $white;
		float: left;
		margin-left: 6px;
		margin-top: 4px;
	}
	
	
	.icona-dislikes2{
		background-color: $white;
		padding: 5px;
	}
	

	
	
	
		
	
	//	FINE BOX PROFILO MIO UTENTE
	
