//	BOX PROFILO MIO UTENTE


#profilo-mio-utente{
background: image-url("background-profilo.png") no-repeat left top;
width: 618px;
height: 371px;
position: absolute;
margin-top: 20px;
      
      
      .profilo{
      margin-top: 30px;
      }

    .avatar{
    background: image-url("foto-utente.png") no-repeat left top;
    width: 194px;
    height: 181px;
    float: left;
    margin-left: 40px;
    }
    
    
    h1{
    font-size: 15px;
    color: $white;
    font-family: 'Droid Sans';
    font-weight: bold;
    text-transform: uppercase;	
    	
    }
    
    h2{
    font-size: 10px;
    color: $white;
    font-family: 'Droid Sans';
    font-weight: bold;
    text-transform: uppercase;
    line-height: 15px;	
    	
    }
    
    h3{
    font-size: 10px;
    color: $white;
    font-family: 'Droid Sans';
    font-weight: bold;
    text-transform: uppercase;
    
       .giorno{
       color: $light-petrolio;
       font-size: 12px;
       padding-right: 8px;
       }
       
       .ora{
       	font-weight: normal;
       	float: none;
       }
    	
    }
    
   .contenuti{
   list-style: none;
   margin-left: -30px;
   margin-top: 30px;
   float: left;
   
      a{
       color: $light-petrolio;
       font-family: 'Droid Sans';
       font-weight: bold;
       text-transform: uppercase;
       font-size: 11px;
       margin-left: 10px;
       line-height: 25px;
      }
   
     .number{
     	color: $input-field-border-green;
     	background-color:$fluo-blue;
     	width: 19px;
     	height: 19px;
        font-weight: bold;
     	font-size: 12px;
     	position: relative;
     	float: left;
     	text-align: center;
     	border-radius: 10px;
     	padding: 1px 0 0 1px;
     	margin-top: -2px;
     	
     	
     	line-height: 19px;
     }
     
     
     
       }
       
       
       #banner{
       background: image-url("banner-premi.png") no-repeat left top;
       width: 115px;
       height: 121px;
       margin-left: 511px;
       margin-top: -108px;
       
       
       }
     .bio{
     	position: absolute;
     	margin-top: 152px;
     	margin-left: 40px;
     	width: 277px;
     	
     	  p{
     	  color: $white;
     	  font-family: 'Droid Sans';
     	  font-weight: normal;
     	  font-size: 13px;
     	  line-height: 15px;
     	  
     	  }
     }
       
       #social{
       margin-left: 470px;
       margin-top: -170px;
       margin-top: -60px;
       	
       	
       	.facebook{
       	background: image-url("icona-facebook.png") no-repeat left top;
       	width: 41px;
       	height: 41px;
       	position: absolute;
       	}
       	
       	
       	.twitter{
       	background: image-url("icona-twitter.png") no-repeat left top;
       	width: 41px;
       	height: 41px;
       	position: absolute;
       	margin-left: 53px;
       	}
       }
       	
	}
	
	
	.divisore-profilo{
	 background: image-url("divisore-profilo.png") no-repeat left top;
	 width: 600px;
	 height: 2px;
	 margin-top: 260px;
	 margin-left: 18px;
	 position: absolute;
	
		
	}
	
	//	FINE BOX PROFILO MIO UTENTE
	
