.registrazione_1{
	width: 620px;
	height: 100px;		
	background-color: $white_azzurro;
	fieldset {
			margin-left:20px;
			margin-top:20px;
			font-family: 'Droid Sans';
			font-size: 13px;
			background-color: $white_azzurro;
			
			
		
		label {
			
			display: block;
			margin: 30px 0 5px 0;
			font-weight: bold;
			text-transform: uppercase;
			color: $azzurro_title;
		}
		input.form-text {
			display: block;
			width: 560px;
			margin-right:20px;			
			font-size: 14px;
			border: 1px solid #65C1B0;
			background: #B9EFEB;
			-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
			-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
			-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}
		
	}
	#asterisco{
			background: image-url("asterisco.png") no-repeat;
			width: 28px;
			height: 28px;
			position: absolute;
			margin-left: 575px;
			margin-top: 11px;
	}
}