#form-risposta-collegamento{

background: none;


  h1{
  font-family: 'Droid Sans';
  font-size: 13px;
  font-weight: bold;
  color: $dark-green;
  line-height: 14px;
  text-transform: uppercase;
  
 }
 
 h2{
 font-family: 'Droid Sans';
 font-size: 13px;
 font-weight: normal;
 color: $text-green;
 line-height: 14px;
 padding: 0 0 20px;
 
   span{
   
   font-weight: bold;
   }
 
 	
 }

p{
   font-family: 'Droid Sans';
   font-size: 13px;
   font-weight: bold;
   color: $text-green;
   line-height: 14px;
   text-transform: uppercase;
     }
   
   .risposta1{
   	float: right;
   	margin-right: 500px;
   
   }
   .risposta2{
   	float: right;
    margin-right: 500px;
   	
   }
   .risposta3{
   	float: right;
   	margin-right: 500px;
   	
   }
   
	  }