.select-file{
	margin-top:10px;
	.tipo{
		margin-left:20px;
		float:left;
		width: 85px;
		overflow: hidden;
		h4{
				font-family: 'Droid Sans';
				text-transform:uppercase;
				color: #418c89;
				font-size:15px;
				font-weight:bold;
		}
		.sottolineato{
			width:85px;
			height:6px;
			background: image-url("sottolineato-form.png") no-repeat left top;
		}
	}
	.file {
		float:left;
		width:300px;
		margin-left:20px;
		font-family: 'Droid Sans';
		text-transform:uppercase;
		color: #418c89;
		font-size:13px;
		font-weight:400;
	}
}