/*
Syntax error: File to import not found or unreadable: partials/box-corso-iniziato.
              Load paths:
                /Users/piermariacosina/github/Oilproject-prototypes/doing/sass
                /Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/frameworks/blueprint/stylesheets
                /Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets
                /Users/piermariacosina/.compass/extensions/compass-extension-bootstrap/stylesheets
                /Applications/compass.app/Contents/Resources/ruby/compass_extensions/compass-960-plugin-f4bfe8555a7d2cae09bc/stylesheets
                /Applications/compass.app/Contents/Resources/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets
                /Applications/compass.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets
                /Applications/compass.app/Contents/Resources/ruby/compass_extensions/thomas-mcdonald-bootstrap-sass-831f25b/vendor/assets/stylesheets
                Compass::SpriteImporter
        on line 113 of /Users/piermariacosina/github/Oilproject-prototypes/doing/sass/screen.scss

Backtrace:
/Users/piermariacosina/github/Oilproject-prototypes/doing/sass/screen.scss:113
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/import_node.rb:64:in `import'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/import_node.rb:62:in `import'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/import_node.rb:25:in `imported_file'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:149:in `visit_import'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:147:in `visit_import'
org/jruby/RubyKernel.java:2080:in `send'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2331:in `collect'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `visit_children'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
org/jruby/RubyKernel.java:2080:in `send'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
org/jruby/RubyKernel.java:2080:in `send'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/engine.rb:247:in `render'
src/compass_patch.rb:154:in `compile'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
src/compass_patch.rb:153:in `compile'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/logger.rb:45:in `red'
src/compass_patch.rb:152:in `compile'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1615:in `each'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
src/compass_patch.rb:60:in `perform'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/path.rb:73:in `run_callback'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/path.rb:55:in `callback_action'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/path.rb:39:in `delete'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/state/directory.rb:32:in `deleted'
org/jruby/RubyArray.java:1615:in `each'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/state/directory.rb:31:in `deleted'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/state/directory.rb:16:in `refresh'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/rbfsevent.rb:30:in `temporary_multipath_handler'
org/jruby/RubyArray.java:1615:in `each'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/rbfsevent.rb:17:in `run'
org/jruby/RubyArray.java:1615:in `each'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/rbfsevent.rb:16:in `run'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/compass.app/Contents/Resources/ruby/jruby/rb-fsevent-0.4.0/lib/rb-fsevent/fsevent.rb:38:in `run'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/monitor.rb:26:in `run'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm.rb:20:in `monitor'
src/compass_patch.rb:52:in `perform'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
src/ui/tray.rb:407:in `watch'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: partials/box-corso-iniziato.\A               Load paths:\A                 /Users/piermariacosina/github/Oilproject-prototypes/doing/sass\A                 /Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets\A                 /Users/piermariacosina/.compass/extensions/compass-extension-bootstrap/stylesheets\A                 /Applications/compass.app/Contents/Resources/ruby/compass_extensions/compass-960-plugin-f4bfe8555a7d2cae09bc/stylesheets\A                 /Applications/compass.app/Contents/Resources/ruby/compass_extensions/heygrady-compass-html5-boilerplate-4cc8815/stylesheets\A                 /Applications/compass.app/Contents/Resources/ruby/compass_extensions/compass-h5bp/stylesheets\A                 /Applications/compass.app/Contents/Resources/ruby/compass_extensions/thomas-mcdonald-bootstrap-sass-831f25b/vendor/assets/stylesheets\A                 Compass::SpriteImporter\A         on line 113 of /Users/piermariacosina/github/Oilproject-prototypes/doing/sass/screen.scss"; }
