/*
Syntax error: Invalid CSS after "					padding-left": expected ";", was ": 40px;"
        on line 65 of /Users/piermariacosina/github/Oilproject-prototypes/done/sass/partials/_featured-videolezioni.scss
        from line 124 of /Users/piermariacosina/github/Oilproject-prototypes/done/sass/screen.scss

Backtrace:
/Users/piermariacosina/github/Oilproject-prototypes/done/sass/partials/_featured-videolezioni.scss:65
/Users/piermariacosina/github/Oilproject-prototypes/done/sass/screen.scss:124
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:1009:in `expected'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:956:in `expected'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:951:in `tok!'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:513:in `declaration_or_ruleset'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:994:in `rethrow'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:519:in `declaration_or_ruleset'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:481:in `block_child'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:473:in `block_contents'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:462:in `block'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:456:in `ruleset'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:518:in `declaration_or_ruleset'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:994:in `rethrow'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:519:in `declaration_or_ruleset'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:481:in `block_child'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:473:in `block_contents'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:462:in `block'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:456:in `ruleset'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:518:in `declaration_or_ruleset'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:994:in `rethrow'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:519:in `declaration_or_ruleset'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:481:in `block_child'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:473:in `block_contents'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:462:in `block'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:456:in `ruleset'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:518:in `declaration_or_ruleset'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:994:in `rethrow'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:519:in `declaration_or_ruleset'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:481:in `block_child'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:473:in `block_contents'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:462:in `block'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:456:in `ruleset'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:518:in `declaration_or_ruleset'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:994:in `rethrow'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:519:in `declaration_or_ruleset'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:481:in `block_child'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:473:in `block_contents'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:462:in `block'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:456:in `ruleset'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:480:in `block_child'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:470:in `block_contents'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:58:in `stylesheet'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/scss/parser.rb:27:in `parse'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/engine.rb:327:in `_to_tree'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/engine.rb:257:in `to_tree'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:144:in `visit_import'
org/jruby/RubyKernel.java:2080:in `send'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2331:in `collect'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `visit_children'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
org/jruby/RubyKernel.java:2080:in `send'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
org/jruby/RubyKernel.java:2080:in `send'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/sass-3.1.20/lib/sass/engine.rb:247:in `render'
src/compass_patch.rb:154:in `compile'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
src/compass_patch.rb:153:in `compile'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/logger.rb:45:in `red'
src/compass_patch.rb:152:in `compile'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1615:in `each'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/path.rb:73:in `run_callback'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/path.rb:55:in `callback_action'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/path.rb:35:in `update'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/state/directory.rb:39:in `modified'
org/jruby/RubyArray.java:1615:in `each'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/state/directory.rb:37:in `modified'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/state/directory.rb:18:in `refresh'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/rbfsevent.rb:30:in `temporary_multipath_handler'
org/jruby/RubyArray.java:1615:in `each'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/rbfsevent.rb:17:in `run'
org/jruby/RubyArray.java:1615:in `each'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/rbfsevent.rb:16:in `run'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/compass.app/Contents/Resources/ruby/jruby/rb-fsevent-0.4.0/lib/rb-fsevent/fsevent.rb:38:in `run'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm/monitor.rb:26:in `run'
/Applications/compass.app/Contents/Resources/ruby/jruby/fssm-dbb37bba/lib/fssm.rb:20:in `monitor'
src/compass_patch.rb:52:in `perform'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Applications/compass.app/Contents/Resources/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
src/ui/tray.rb:407:in `watch'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"					padding-left\": expected \";\", was \": 40px;\"\A         on line 65 of /Users/piermariacosina/github/Oilproject-prototypes/done/sass/partials/_featured-videolezioni.scss\A         from line 124 of /Users/piermariacosina/github/Oilproject-prototypes/done/sass/screen.scss"; }
