// Combine the partials into a single screen stylesheet.


$light-green: #057C79;
$dark-green: #084936;
$fluo-blue: #00FFB0;
$fluo-blue-2: #28EAA4;
$fluo-blue-3: #38D69A;
$soft-blue: #C9F7F5;
$light-soft-blue: #EAFDFC;
$text-green: #3D635F;
$link-blue: #24D1C8;
$light-fluo-green: #00F2A1;
$lighter-water-green: #7dfed5;
$lightest-water-green: #C7FFEC;
$verde-scuro: #02967A;
$verde-medio: #05D6C6;
$green-title: #49ADA8;
$azzurro-fluo-medium: #0CC4C4;
$light-grey: #F7FCFB;
$grey: #DAEDE9;
$light-petrolio: #4CC1B8;
$pale-water-green: #C5FFEA;
$acid-green: #00EA9C;
$input-field-green: #027771;
$input-field-border-green: #166059;
$input-field-shadow: #48ada8;
$bold-green: #29776E;
$white:#FFFFFF;
$text-green: #3D635F;
$light-grey: #F7FCFB;
$grey: #DAEDE9;
$dark-line-petrolio: #036863;
$light-line-petrolio: #159690;
$azzurro-fluo: #9FFFFC;
$light-petrolio-bg: #25A599;
$lighter-green: #6CD8C9;
$water-green: #45BFB0;
$darkest-blue: #03514B;
$dark-blue: #086661;
$grey-blue: #94D3CC;
$white-azzurro: #E1FFFD;
$stripe-light-blue:#e0faf9;
$azzurro-title: #49ADA8;


$header-height: 65px;
$search-height: 28px;

@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/typography/text/replacement";
@import "compass/utilities/sprites/sprite-img";
@import "compass/utilities/sprites/base";
@import "compass/css3/box-shadow";
@import "compass/css3/background-clip";
@import "compass/css3/opacity";
@import "compass/layout/stretching";
@import "compass/css3/font-face";
@import "compass/utilities/color";
@import "blueprint/colors";
@import "compass/utilities/general/float";
@import "compass/css3/text-shadow";
@import "compass/utilities/general/clearfix";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/text/replacement";
@import "compass/css3/hyphenation";
@import "compass/typography/links/link-colors";


@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic);

@include font-face("header11-webfont", font-files("header11-webfont.woff","header11-webfont.ttf","header11-webfont.otf", "header11-webfont.svg"), "header11-webfont", 400, regular);

@mixin background-sprite($map){
	background-image: sprite-url($map);
} 

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset{
	margin-bottom: 0 !important;
}

div.corner{
	&.left{
		@include background(image-url("corner-left.png") no-repeat left top);
		height: image-height("corner-left.png");
		width: image-width("corner-left.png");
		margin-left: - image-width("corner-left.png");
		@include float-left;
		}
	&.right{
		@include background(image-url("corner-right.png") no-repeat left top);
		height: image-height("corner-right.png");
		width: image-width("corner-right.png");
		margin-right: - image-width("corner-right.png");
		@include float-right;
		}
	&.left.striped{
		@include background(image-url("corner-left-striped.png") no-repeat left top);
		height: image-height("corner-left-striped.png");
		width: image-width("corner-left-striped.png");
		margin-left: - image-width("corner-left-striped.png");
		@include float-left;
	}
}
@import "partials/grid";
@import "partials/text";
@import "partials/font-awesome";

@import "partials/banner";
@import "partials/bottone-segui-utente";
@import "partials/box-corso-iniziato";
@import "partials/box-corso";
@import "partials/box-singolo-esercizio";
@import "partials/breadcrumb";
@import "partials/commenti";
@import "partials/container-corsi";
@import "partials/container-lezioni";
@import "partials/contenuto-singolo";
@import "partials/corsi-creati";
@import "partials/featured-corso";
@import "partials/featured-videolezioni";
@import "partials/footer";
@import "partials/header";
@import "partials/lesson";
@import "partials/prefooter";
@import "partials/profilo-mio-utente";
@import "partials/sidebar-edit";
@import "partials/sidebar-list";
@import "partials/template";
@import "partials/titolo-registrati";

#lesson{
	@include grid-container;
	height: 400px;
	margin-top:10px;
        background: image-url("diagonal-green-bg.png") repeat left top;
        .infor{
            @include grid(5);
            height:100%;
            position: relative;
            
            .container-views{
            	width: 65px;
            	height: auto;
            	@include clearfix;
            	border-right: 1px solid $pale-water-green;
            	border-left: 1px solid $acid-green;
            	padding-left: 10px;
            	float: left;
	            .box-number-views{
	            	float: left;
	            	border-bottom: 1px solid $verde-scuro;
	            	border-left: 1px solid $verde-medio;
	            	border-right: 1px solid $verde-medio;
	            	border-top: 1px solid $verde-medio;
	            	.number-views{
	            		font-weight: normal;
	            		font-size: 10px;
	            		line-height: 10px;
	            		color: $light-green;
	            		background: $light-fluo-green;
	            		border-bottom: 1px solid $lightest-water-green;
	            		border-left: 1px solid $lighter-water-green;
	            		border-top: 1px solid $lighter-water-green;
	            		border-right: 1px solid $lighter-water-green;
	            		padding: 2px;
	            	}
	            }
	            .views{
	            	font-weight: normal;
	            	font-size: 10px;
	            	line-height: 10px;
	            	color: $light-green;
	            	float: left;
	            	margin-left: 3px;
	            	margin-top: 4px;
	            }
            }
            
            .container-comments{
            	width: 78px;
            	height: auto;
            	@include clearfix;
            	border-right: 1px solid $pale-water-green;
            	float: left;
	            .box-number-comments{
	            	float: left;
	            	border-bottom: 1px solid $verde-scuro;
	            	border-left: 1px solid $verde-medio;
	            	border-right: 1px solid $verde-medio;
	            	border-top: 1px solid $verde-medio;
	            	.number-comments{
	            		font-weight: normal;
	            		font-size: 10px;
	            		line-height: 10px;
	            		color: $light-green;
	            		background: $light-fluo-green;
	            		border-bottom: 1px solid $lightest-water-green;
	            		border-left: 1px solid $lighter-water-green;
	            		border-top: 1px solid $lighter-water-green;
	            		border-right: 1px solid $lighter-water-green;
	            		padding: 2px;
	            	}
	            }
	            .comments{
	            	font-weight: normal;
	            	font-size: 10px;
	            	line-height: 10px;
	            	color: $light-green;
	            	float: left;
	            	margin-left: 3px;
	            	margin-top: 4px;
	            }
            }
            
            .container-lingua{
            	width: 100px;
            	height: auto;
            	@include clearfix;
            	border-left: 1px solid $acid-green;
            	padding-left: 10px;
            	float: left;
                .box-lingua-icon{
                	float: left;
                	border-bottom: 1px solid $verde-scuro;
                	border-left: 1px solid $verde-medio;
                	border-right: 1px solid $verde-medio;
                	border-top: 1px solid $verde-medio;
                	.lingua-icon{
                		width: 14px;
                		height: 10px;
                		font-weight: normal;
                		font-size: 10px;
                		line-height: 10px;
                		color: $light-green;
                		background: $light-fluo-green;
                		border-bottom: 1px solid $lightest-water-green;
                		border-left: 1px solid $lighter-water-green;
                		border-top: 1px solid $lighter-water-green;
                		border-right: 1px solid $lighter-water-green;
                		padding: 2px;
                	}
                }
                .lingua{
                	font-weight: normal;
                	font-size: 10px;
                	line-height: 10px;
                	color: $light-green;
                	float: left;
                	margin-left: 3px;
                	margin-top: 4px;
                }
            }
            
//           
            .aut-date{
            	position: absolute;    
            	bottom: 9px;
                .data{
                    .num{
                    	position: absolute;
                    	float: left;
                        margin-top: 0;//34px;
                        width: 25px;
                        height: 25px;
                        background-color: $dark-green; 
                        @include border-radius ( 16px);
                        bottom: -2px;
                        p{
	                        padding-top: 3px;
	                        text-align: center;
	                        color: $white;
	                        margin: 0;
                     	}
                 	}
                    .info-date{
                              width: 140px;
//                              bottom: -6px;
                              font-family: 'Droid Sans';
                              font-size: 11px;
                              float: left;
                              margin-left: 30px;
	                    .mese{
	                        font-weight: 700;
	                        color: $dark-green;
	                        text-transform: uppercase;
	                    }
	                    .ora{
	                    	color: $light-green;
	                    }
                    }
                }
             
             hr{
                   @include grid(5);
                   border: 0;
                   height: 1px;
              }
              .top{
              	margin: 8px 0 0 0;
              	background: $acid-green;
              }
              .bottom{
                margin: 0 0 12px 0;
                background: $pale-water-green;
              }
             
              }
       }
       .foto{
           @include grid(11);
           @include omega;
           background-color: $fluo-blue-3;
           height:100%;           
        }
        h3{
            font-size: 15px;
            color: $dark-green;
            font-family: 'Droid Sans';
            font-weight: 700;
            text-transform: uppercase;
            padding-top: 20px;		
        }
        
        h1{
	        font-size: 25px;
	        line-height: 30px;
	        color: $dark-green;
	        font-family: 'Droid Sans';
	        font-weight: 700;
	        text-transform: uppercase;
	        padding-bottom: 7px;
	        $default-text-shadow-h-offset: 0px;
                $default-text-shadow-v-offset: 2px;
                $default-text-shadow-blur: 1px;
               
                $default-text-shadow-color: $pale-water-green;	       
	        @include single-text-shadow();
        }
        
        h4{
            color: $dark-green;
            font-weight: 700;
            font-family: 'Droid Sans';
            text-transform: uppercase;
            font-size: 13px;
            span{
                color: $light-green;
                font-weight: 400;
                text-transform: capitalize;
            }
        }
        p{
            color: $dark-green;
            font-weight: 700;
            font-family: 'Droid Sans';
        }
}

#container{
        @include grid(11);
         h4{
            margin-top: 10px;
            @include grid(1);
            font-size: 20px;
            font-family: 'Droid Sans';
            font-weight: bold;
            color: $light-green;
            @include alpha;
            text-align: center;
        }
                .icon{
            margin-top:10px;
            @include grid(1);
            @include alpha;
            height: 40px;
            background-color: white;
        }
        .text{
            margin-top: 10px;
                margin-bottom: 10px;
                h3{
                    font-size: 21px;
                    color: $light-green;
                    font-family: 'Droid Sans';
                    font-weight: 700;
                    text-transform: uppercase;
                    $default-text-shadow-h-offset: 0px;
                    $default-text-shadow-v-offset: 1px;
                    $default-text-shadow-blur: 0px;
                    $default-text-shadow-spread: true;
                    $default-text-shadow-color: $white;	       
                    @include single-text-shadow();
                    margin-bottom: 10px;
                }
                p{
                    font-size: 13px;
                    line-height: 16px;
                    color: $green-title;
                    font-family: 'Droid Sans';
                    font-weight: 400;
                    padding-bottom: 5px;
                }
                
                .data{
                    position: relative;
                    .num{
                        width:25px;
                        height:25px;
                        background-color: $dark-green; 
                        @include border-radius ( 15px);
                        p{
                            padding-top: 3px;
                        text-align: center;
                        color: $white;
                                            }
                                    }
                    .info-date{
                             width:140px;
                              position: absolute;
                              bottom: -23px;
                              left: 30px;
                    p{

                        color: $dark-green;
                        font-weight: 700;
                        font-family: 'Droid Sans';
                        font-size: 11px;
                    }
                    }
                }
                
        }

 }
 
#testo {
    @include grid(9);
    margin-top: 35px;
    margin-bottom: 30px;   

    p{
	    font-size: 13px;
	    line-height: 16px;
        color: $text-green;
        font-family: 'Droid Sans';
        font-weight: 400;
        padding: 0;
        margin: 0 0 7px 0;
    }
    .intro{
    	font-weight: bold;
    	text-indent: 7px;
    	
    }
    
    a{
	    color: $link-blue;
	    text-decoration: none;
    }
        
}

#button{

@include grid(2);
heigth: 40px;
background-color: $dark-green;
@include border-radius ( 10px);
margin-bottom: 35px;
a{
	    color: $white;
        font-size: 12px;
        font-family: 'Droid Sans';
        font-weight: bold;
        margin-left: 11px;       
 }
 }
 
#button-1{
@include grid(3);
@include alpha;
@include omega;
.interno{
width:130px;
background-color: $dark-green;
@include border-radius ( 10px);
margin-bottom: 35px;
a{
	color: $white;
        font-size: 12px;
        font-family: 'Droid Sans';
        font-weight: bold;
        margin-left: 11px;       
 }
 }
 }
#nuovo-commento{
        @include grid(10.5);
        @include alpha;
        background-color: black;
        clear: both;
        margin-bottom: 35px;
        textarea{
                @include grid(10);
                @include omega;
                @include alpha;
                 border: 1px solid #323232;
        }
        
        ul{
        	list-style-type: none !important;
        	li{
        		width: auto;
        		height: auto;
        		@include clearfix;
        		display: block;
        		border-bottom: 1px solid white;
        		a{
        			text-decoration: none !important;
        			position: relative;
        
        			.angolo{
        				width: 20px;
        				height: 20px;
        				background: image-url("angolo-commenti-sx.png") repeat left top;
        				position: relative;
        				clear: left;
        			}
        
        			.first-level{
        				top: 20px;
        				left: -10px;
        			}
        
        			.second-level{
        				top: 20px;
        				left: 50px;
        			}
        
        			.third-level{
        				top: 20px;
        				left: 110px;
        			}
        
        			.commento{
        					margin-bottom: 2px;
        					@include omega;
        					background-color: $light-soft-blue;
        					float: left;
              					.text{
        						.data{
        							.num{
        								background: $azzurro-fluo-medium !important;
        								float: left;
        								p{
        									font-weight: bold !important;
        									padding: 4px 0 !important;
        								}
        							}
        							.info-date{
        								font-family: 'Droid Sans';
        								font-size: 11px;
        								float: left;
        								color: $azzurro-fluo-medium;
        								margin-top: 20px;
        								.mese{
        									font-weight: 700;
        									text-transform: uppercase;
        								}
        							}
        						}
        					}       
        			}
        			.spacer-comments{
        				clear: both;
        			}
        		}
        	}
        	li:first-child{
        		clear: both;
        	}
        }
        
        ul{
        	li{
        		a:hover, a:active{
        			.angolo{
        				background: image-url("angolo-commenti-hover-sx.png") repeat left top;
        			}
        			.commento{
        				background-color: $soft-blue;
        			}
        		}
        	}
        }
}



.primo-livello{
        @include grid(10);
        .text{
         
                @include grid(6);  
                @include alpha;
                }
       

}

.secondo-livello{
    @include grid-push(1);

        @include grid(9);
        
        .text{
                @include grid(5);  
                @include alpha;
        }
}

.terzo-livello{
        @include grid-push(2);
        @include grid(8);
      
        .text{

                @include grid(4);  
                @include alpha;

        }
}

#barra{
           @include grid(5);
           @include omega;
           .list{
                @include grid(5);
                @include omega;
                @include alpha;
                .icon-cat{
                width: 44px;
                height: 8px;
                margin-top: 3px;
                margin-right: 3px;
                float: left;
                background: image-url("diagonal-white-bg.png") repeat left top;
               }
                ul{                
                @include grid(5);
                @include alpha;
                list-style: none;
                style-type-position: inside;
                padding-top:3px;
                }
                li{
			height: auto;
			background: none;
			float: none;
			font-family: 'Droid Sans';
			font-weight: 400;
			font-size: 12px;
			line-height: 15px;
			margin: 0 0 12px 0;
			padding: 0;
			a{
				text-decoration: none;
				color: $green-title;
			}
		}
                .categorie{
                    @include grid(5);
                    @include omega;
                    @include alpha;
			
			background: image-url("diagonal-white-bg.png") repeat left top;
			float: left;
			//margin-right: 3px;
			.icon{
				width: 36px;
				height: 32px;
				background: white;
				float: left;
				margin: 8px;
			}
			h1{
                            
				font-family: 'Droid Sans';
				font-weight: 400;
				font-size: 10px;
				line-height: 9px;
				text-transform: uppercase;
				color: $green-title;
				float: left;
				margin-top: 11px; 
			}
		}
           }
           .image{
                @include grid(5);
                @include omega;
                @include alpha;
                height:250px;
                background-color: $fluo-blue;
               
                margin-top: 10px;
           }
           .ultime-lezioni{
                background: $light-grey;
                border: 1px solid $grey;
                padding:1px;
                @include grid(5);
                @include omega;
                @include alpha;
                       h3{
		font-family: 'Droid Sans';
		font-weight: 400;
		font-size: 10px;
		line-height: 9px;
		text-transform: uppercase;
		color: $green-title;
		padding: 12px; 
	}
                    
                  
                   ul{
                        list-style: none;
                        @include grid(5);
                       background-color: $light-green;
                        @include alpha;
                        @include omega;
                        margin: 0px;

                   }
                 
                   .simbolo{
                        width: 44px;
                       
                        margin-top: 3px;
                        margin-right: 3px;
                        float: left;
                        background-color:white;
                        height:20px;
                   }
                   .title{
                        @include grid(4);
                       @include alpha;
                       
                       @include omega;
                        h4{
                            color: white;
                            font-weight: 400;
                            font-size: 13px;
                            font-family: 'Droid Sans';
                          
                        }
                        p{
                           
					
					font-weight: bold;
					font-size: 10px;
					color: $light-petrolio;
					
				
                        }
                    }
                }
           }








 