// Combine the partials into a single screen stylesheet.


$light-green: #057C79;
$dark-green: #084936;
$fluo-blue: #00FFB0;
$fluo-blue-2: #28EAA4;
$fluo-blue-3: #38D69A;
$soft-blue: #C9F7F5;
$light-soft-blue: #EAFDFC;
$text-green: #3D635F;
$link-blue: #24D1C8;
$light-fluo-green: #00F2A1;
$lighter-water-green: #7dfed5;
$lightest-water-green: #C7FFEC;
$verde-scuro: #02967A;
$verde-medio: #05D6C6;
$green-title: #49ADA8;
$azzurro-fluo-medium: #0CC4C4;
$light-grey: #F7FCFB;
$grey: #DAEDE9;
$light-petrolio: #4CC1B8;
$pale-water-green: #C5FFEA;
$acid-green: #00EA9C;
$input-field-green: #027771;
$input-field-border-green: #166059;
$input-field-shadow: #48ada8;
$bold-green: #29776E;
$white:#FFFFFF;
$text-green: #3D635F;
$light-grey: #F7FCFB;
$grey: #DAEDE9;
$dark-line-petrolio: #036863;
$light-line-petrolio: #159690;
$azzurro-fluo: #9FFFFC;
$light-petrolio-bg: #25A599;
$lighter-green: #6CD8C9;
$water-green: #45BFB0;
$darkest-blue: #03514B;
$dark-blue: #086661;
$grey-blue: #94D3CC;
$white-azzurro: #E1FFFD;
$stripe-light-blue:#e0faf9;
$azzurro-title: #49ADA8;
$calm-green: #43D1B4;
$extra-dark-green: #094934;

$header-height: 65px;
$search-height: 28px;

@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/typography/text/replacement";
@import "compass/utilities/sprites/sprite-img";
@import "compass/utilities/sprites/base";
@import "compass/css3/box-shadow";
@import "compass/css3/background-clip";
@import "compass/css3/opacity";
@import "compass/layout/stretching";
@import "compass/css3/font-face";
@import "compass/utilities/color";
@import "blueprint/colors";
@import "compass/utilities/general/float";
@import "compass/css3/text-shadow";
@import "compass/utilities/general/clearfix";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/text/replacement";
@import "compass/css3/hyphenation";
@import "compass/typography/links/link-colors";



@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Serif:400,400italic);

@include font-face("header11-webfont", font-files("header11-webfont.woff","header11-webfont.ttf","header11-webfont.otf", "header11-webfont.svg"), "header11-webfont", 400, regular);

@mixin background-sprite($map){
	background-image: sprite-url($map);
} 

p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset{
	margin-bottom: 0 !important;
}

div.corner{
	&.left{
		@include background(image-url("corner-left.png") no-repeat left top);
		height: image-height("corner-left.png");
		width: image-width("corner-left.png");
		margin-left: - image-width("corner-left.png");
		@include float-left;
		}
	&.right{
		@include background(image-url("corner-right.png") no-repeat left top);
		height: image-height("corner-right.png");
		width: image-width("corner-right.png");
		margin-right: - image-width("corner-right.png");
		@include float-right;
		}
	&.left.striped{
		@include background(image-url("corner-left-striped.png") no-repeat left top);
		height: image-height("corner-left-striped.png");
		width: image-width("corner-left-striped.png");
		margin-left: - image-width("corner-left-striped.png");
		@include float-left;
	}
}
@import "partials/grid";
@import "partials/text";
@import "partials/font-awesome";
@import "partials/buttons";
@import "partials/banner";
@import "partials/featured-corso";
@import "partials/featured-videolezioni";
@import "partials/template";
@import "partials/domanda-esercizio";
@import "partials/newsletter";
@import "partials/form";
@import "partials/newsletter-check";
@import "partials/link-riferimento";
@import "partials/categoria-corso";
@import "partials/estratto";
@import "partials/immagine-copertina";
@import "partials/search";
@import "partials/risposta-multipla";
@import "partials/banner-risposte-mancanti";
@import "partials/risposta-collegamento";
@import "partials/header-corso-iniziato";
@import "partials/crea-esercizio-1";
@import "partials/select-file";
@import "partials/risposta-vero-falso";   
@import "partials/domanda-crea-esercizio"; 