// Combine the partials into a single screen stylesheet.
@import "partials/text";
@import "partials/grid";
@import "partials/font-awesome";

@import "compass/typography/text/ellipsis";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/typography/text/replacement";
@import "compass/utilities/sprites/sprite-img";
@import "compass/utilities/sprites/base";
@import "compass/css3/box-shadow";
@import "compass/css3/background-clip";
@import "compass/css3/opacity";
@import "compass/layout/stretching";
@import "compass/css3/font-face";
@import "compass/utilities/color";
@import "blueprint/colors";
@import "compass/utilities/general/float";
@import "compass/css3/text-shadow";
@import "compass/utilities/general/clearfix";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

$light-green: #057C79;
$dark-green: #084936;
$fluo-blue: #00FFB0;
$fluo-blue-2: #28EAA4;
$fluo-blue-3: #38D69A;
$soft-blue: #C9F7F5;
$white-icons: #FFFFFF;
$text-green: #3D635F;
$link-blue: #24D1C8;
$light-grey: #F7FCFB;
$grey: #DAEDE9;
$azzurro-title: #49ADA8;
$light-petrolio: #4CC1B8;
$dark-line-petrolio: #036863;
$light-line-petrolio: #159690;
$azzurro-fluo: #9FFFFC;
$light-petrolio-bg: #25A599;
$lighter-green: #6CD8C9;
$water-green: #45BFB0;
$darkest-blue: #03514B;
$dark-blue: #086661;
$grey-blue: #94D3CC;
$white-azzurro: #E1FFFD;
$azzurro-strisce: #B8F2ED;
$bianco: #FFFFFF;
$scritte-scure: #29776E;
$grey-scuro:#5E5A5E;




@include font-face("header11-webfont", font-files("header11-webfont.woff","header11-webfont.ttf","header11-webfont.otf", "header11-webfont.svg"), "header11-webfont", 400, regular);

//
@mixin background-sprite($map){
	background-image: sprite-url($map);
} 

body{
	-webkit-font-smoothing: antialiased;
}

.bp{
	background-color:  #FFFFFF;
}

#content{
	@include grid-container;
	background-color: #FFFFFF;
	        
}

.section-container{
	margin: 30px auto;
	width: 942px;
	height: auto;
	background: $light-grey;
	border: 1px solid $grey;
	h3{
		font-family: 'Droid Sans';
		font-weight: 400;
		font-size: 10px;
		line-height: 9px;
		text-transform: uppercase;
		color: $azzurro-title;
		padding: 12px; 
	}
	.box-video-spacer{
		width: 935px;
		height: auto;
//		background: red;
		@include clearfix;
		margin: 0 0 10px 4px;
		list-style-type: none;
		a{
			text-decoration: none;
			.box-video{
				width: 170px;
				height: 167px;
				background: $light-green;
				font-family: 'Droid Sans';
				padding: 8px;
				float: left;
				margin-right: 1px;
				.img-video{
					width: 171px;
					height: 100px;
					overflow: hidden;
					-webkit-box-shadow: 0 0 5px rgba(32, 79, 59, 0.5), 0 0 10px rgba(32, 79, 59, 0);
					-moz-box-shadow: 0 0 5px rgba(32, 79, 59, 0.5), 0 0 10px rgba(32, 79, 59, 0);
					box-shadow: 0 0 5px rgba(32, 79, 59, 0.5), 0 0 10px rgba(32, 79, 59, 0);
					
				}
				.icon{
					width: 25px;
					height: 25px;
//					background: white;
					float: left;
					margin: 8px 0 0 4px;
				}
				h1{
					width: 130px;
					font-weight: 400;
					font-size: 12px;
					line-height: 15px;
					color: white;
					padding-left: 40px;
					padding-top: 6px;
				}
				.posted-by{
					width: 130px;
					font-weight: bold;
					font-size: 10px;
					color: $light-petrolio;
					padding-left: 40px;
				}
			}
		}
	}
	
	.box-video-spacer{
			a:hover, a:visited{
				text-decoration: none;
				.box-video{
					background: image-url("diagonal-azzurro-bg.png") repeat left top;
					h1{
						color: $light-green;
					}
					.posted-by{
						color: $dark-green;
					}
				}
			}
		}
	
}

.section-container{
	@include clearfix;
	.categorie-spacer{
				width: 940px;
				height: auto;
//				background: red;
				@include clearfix;
				margin: 10px 0 4px 4px;
				list-style-type: none;
				
		.categorie{
			width: 231px;
			height: 49px;
			background: image-url("diagonal-white-bg.png") repeat left top;
			float: left;
			margin-right: 3px;
			.icon{
				width: 36px;
				height: 32px;
//				background: white;
				float: left;
				margin: 8px;
			}
			h1{
				font-family: 'Droid Sans';
				font-weight: bold;
				font-size: 14px;
				line-height: 13px;
				text-transform: uppercase;
				color: $azzurro-title;
				float: left;
				margin-top: 11px; 
			}
		}
	}
	.lezioni-spacer{
//		background: cyan;
		width: auto;
		height: auto;
		@include clearfix;
		margin: 0 0 0 3px;
		.container-lezioni{
			margin: 0;
			padding: 0;
			list-style-type: none;
			float: left;
			a{
				text-decoration: none;
			
				.box-lezione{
					width: 185px;
					height: auto;
					background: $light-green;
					font-family: 'Droid Sans';
					padding-left: 48px;
					@include clearfix;
					margin: 10px 1px 10px 0;
					
					
					.img-video{
						width: 225px;
						height: 128px;
						overflow: hidden;
						margin: 4px 4px 0 4px;
						clear: both;
						position: relative;
						left: -48px;
						-webkit-box-shadow: 0 0 5px rgba(32, 79, 59, 0.5), 0 0 10px rgba(32, 79, 59, 0);
						-moz-box-shadow: 0 0 5px rgba(32, 79, 59, 0.5), 0 0 10px rgba(32, 79, 59, 0);
						box-shadow: 0 0 5px rgba(32, 79, 59, 0.5), 0 0 10px rgba(32, 79, 59, 0);
							
					}
					.icon{
						width: 25px;
						height: 25px;
//						background: white;
						position: relative;
						margin-left: -35px;
						margin-top: 34px;
						float: left;
						font-size: 24px;
					}
					h2{
						width: 168px;
						font-weight: bold;
						font-size: 10px;
						line-height: 11px;
						text-transform: uppercase;
						color: $fluo-blue;
						padding-top: 16px;
					}
					h1{
						width: 168px;
						font-weight: normal;
						font-size: 14px;
						line-height: 17px;
						color: white;
						padding-top: 4px;
					}
					.posted-by{
						width: 168px;
						font-weight: bold;
						font-size: 10px;
						color: $light-petrolio;
						padding-top: 2px;
					}
					hr{
						width: 168px;
						height: 1px;
						margin: 0;
						padding: 0;
						border: 0;
					}
					.line-top{
						background: $dark-line-petrolio;
						margin-top: 3px;
					}
					.line-bottom{
						background: $light-line-petrolio;
						margin-bottom: 10px;
					}
					p{
						width: 168px;
						font-weight: normal;
						font-size: 10px;
						line-height: 13px;
						color: white;
						margin: 0 0 10px 0;
						display: none;
					}
					.box-number-views{
						float: left;
						margin-bottom: 12px;
						border-bottom: 1px solid $darkest-blue;
						border-left: 1px solid $dark-blue;
						border-right: 1px solid $dark-blue;
						border-top: 1px solid $dark-blue;
						.number-views{
							font-weight: normal;
							font-size: 10px;
							line-height: 10px;
							color: $azzurro-fluo;
							background: $light-petrolio-bg;
							border-bottom: 1px solid $lighter-green;
							border-left: 1px solid $water-green;
							border-top: 1px solid $water-green;
							border-right: 1px solid $water-green;
							padding: 2px;
						}
					}
					.views{
						font-weight: normal;
						font-size: 10px;
						line-height: 10px;
						color: $light-petrolio;
						float: left;
						margin-left: 3px;
						margin-top: 4px;
					}
				}
			}
		}
	}
	
	
	.lezioni-spacer{
			.container-lezioni{
				list-style-type: none;
				a:hover, a:visited{
					text-decoration: none;
				
					.box-lezione{
						background: image-url("diagonal-azzurro-bg.png") repeat left top;
						h2{
							color: $dark-green;
						}
						h1{
							color: $light-green;
						}
						.posted-by{
							color: $dark-green;
						}
						.line-top{
							background: transparent;
						}
						.line-bottom{
							background: $grey-blue;
						}
						p{
							color: $light-green;
						}
						.box-number-views{
							border-bottom: 1px solid #0A665D;
							border-left: 1px solid #1B8C81;
							border-right: 1px solid #1B8C81;
							border-top: 1px solid #1B8C81;
							.number-views{
								background: $light-petrolio-bg;
								border-bottom: 1px solid $white-azzurro;
								border-left: 1px solid #96E0D5;
								border-top: 1px solid #96E0D5;
								border-right: 1px solid #96E0D5;
							}
						}
						.views{
							color: $light-green;
						}
					}
				}
			}
	}	
}






   

.bottone{
   background-color: $dark-green;
   width: 131px;
   height: 26px;   
   border-radius:30px;
   margin-top: 30px;
   margin-left: 30px;
      }                                   
                 
.testo-bottone-1{

  color:$bianco;
  font-family: 'Droid Sans';
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  margin-left: 32px;
  margin-top: 4px;
  

}     

            
//	BOX VIDEO HOME
 
 
 .box-testo{
 	width: 398px;
 	height: 285px;
 	background: image-url("home-video-linguetta.png") no-repeat left top;
 	font-family: 'Droid Sans';
 	color: $dark-green;
 	display: inline;
 	float: left;
 	}



.box-testo h2{
   width: 282px;
   font-weight: bold;
   font-size: 13px;
   line-height: 15px;
   text-transform: uppercase;
   padding: 15px 0 0 20px;
   margin: 0;
						}
						
.box-testo h1{
  width: 282px;
  height: 77px;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  overflow: hidden;
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;

						}


.posted-by{
	font-weight: bold;
	font-size: 10px;
	padding: 0 0 0 20px;
	margin: 10px 0 0 0;
	position: relative;
	float: left;
}

.numero-lezioni{
	position: relative;
	float: right;
	padding: 0 100px 0 0;
	margin: 10px 0 8px 0;
	
	}


.number{
	width: 19px;
	height: 19px;
	background: $dark-green;
	color: white;
	font-weight: bold;
	font-size: 12px;
	position: relative;
	float: left;
	text-align: center;
	border-radius: 10px;
	padding: 1px 0 0 1px;
	margin-top: -2px;
}

span{
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	float: left;
	font-size: 10px;
	margin-left: 4px;
}

p{
	width: 282px;
	height: 70px;
	font-weight: 400px;
	font-size: 13px;
	line-height: 15px;
	padding: 0 0 0 20px;
	margin: 16px 0 0 0;
	overflow: hidden;
}


.video{

  background: image-url("foto-video-home.png") no-repeat left top;
  width: 579px;
  height: 285px;
  display: inline;
  float: left;
  
	
}


#box-home{
	margin-top: 30px;
	margin-left: 30px;
}

.divisore{
	margin-left: 20px;
}


.bottone-corso{
   background-color: $dark-green;
   width: 101px;
   height: 20px;   
   border-radius:30px;
   margin-left: 20px; 
  
      }                                   
                 
.testo-bottone{

  color:$bianco;
  font-family: 'Droid Sans';
  font-weight: bold;
  font-size: 12px;
  text-transform: lowercase;
  margin-left: 18px;


}     


//	FINE BOX VIDEO HOME







//	BOX LEZIONE PAGINA CATEGORIE


#box-pagina-categoria-2{
}


.lezione{
 	width: 638px;
 	height: 209px;
 	background: image-url("box-lezione-categoria.png") no-repeat left top;
 	font-family: 'Droid Sans';
 	display: inline;
 	float: left;
 	margin-top: 30px;
 	
 	   h2{
 	      
 	      font-weight: bold;
 	      font-size: 10px;
 	      line-height: 15px;
 	      text-transform: uppercase;
 	      margin-top: 10px;
 	      margin-left: 70px;
 	      color: $fluo-blue;
 	   						}
 	   						
 	   h1{
 	     width: 281px;
 	     height: 77px;
 	     color: $bianco;
 	     font-weight: normal;
 	     font-size: 14px;
 	     line-height: 17px;
 	     text-transform: uppercase;
 	     overflow: hidden;
 	     font-weight: normal;
 	     text-transform: lowercase;
 	     margin-left: 70px;
 	
 							}
 							
 							.relatore{
 							font-weight: bold;
 							font-size: 10px;
 						    position: relative;
 							color: $light-petrolio;
 							margin-top: -40px;
 							margin-left: 70px;
 									
 								}
 								
 								.divisore-3{
 									    margin-left: 70px;
 								        margin-top: -30px;
 								}
 								
 								.icona-audio-b{
 								    position: absolute;
 									margin-top: -90px;
 									margin-left: 33px;
 								}
 								
 								
 								 									
 								.box-number-views{
 									float: left;
 									margin-bottom: 12px;
 									border-bottom: 1px solid $darkest-blue;
 									border-left: 1px solid $dark-blue;
 									border-right: 1px solid $dark-blue;
 									border-top: 1px solid $dark-blue;
 									.number-views{
 										font-weight: normal;
 										font-size: 10px;
 										line-height: 10px;
 										color: $azzurro-fluo;
 										background: $light-petrolio-bg;
 										border-bottom: 1px solid $lighter-green;
 										border-left: 1px solid $water-green;
 										border-top: 1px solid $water-green;
 										border-right: 1px solid $water-green;
 										padding: 2px;
 									}
 								}
 								.views{
 									font-weight: normal;
 									font-size: 10px;
 									line-height: 10px;
 									color: $light-petrolio;
 									float: left;
 									margin-left: 3px;
 									margin-top: 4px;
 								}
 								
 								.box-likes{
 									float: left;
 									margin-bottom: 12px;
 									border-bottom: 1px solid $darkest-blue;
 									border-left: 1px solid $dark-blue;
 									border-right: 1px solid $dark-blue;
 									border-top: 1px solid $dark-blue;
 									.icona-likes{
 									    background: $bianco;
 									    padding: 5px;
 									}
 								}
 								
 								.number-likes{
 									font-weight: normal;
 									font-size: 10px;
 									line-height: 10px;
 									color: $light-petrolio;
 									float: left;
 									margin-left: 3px;
 									margin-top: 4px;
 								}
 								
 								
 								.box-dislikes{
 									float: left;
 									margin-bottom: 12px;
 									border-bottom: 1px solid $darkest-blue;
 									border-left: 1px solid $dark-blue;
 									border-right: 1px solid $dark-blue;
 									border-top: 1px solid $dark-blue;
 									.icona-dislikes{
 									    background: $bianco;
 									    padding: 5px;
 									}
 								}
 								
 								.number-dislikes{
 									font-weight: normal;
 									font-size: 10px;
 									line-height: 10px;
 									color: $light-petrolio;
 									float: left;
 									margin-left: 3px;
 									margin-top: 4px;
 								}
 								
}

#extras{
	margin-left: 400px;
	margin-top: -90px;
	position: absolute;
}

//	FINE BOX LEZIONE PAGINA CATEGORIE


//	BOX PROFILO MIO UTENTE


#profilo-mio-utente{
background: image-url("background-profilo.png") no-repeat left top;
width: 618px;
height: 371px;
position: absolute;
margin-top: 50px;
      
      
      .profilo{
      margin-top: 30px;
      }

    .avatar{
    background: image-url("foto-utente.png") no-repeat left top;
    width: 194px;
    height: 181px;
    float: left;
    margin-left: 40px;
    }
    
    
    h1{
    font-size: 15px;
    color: $bianco;
    font-family: 'Droid Sans';
    font-weight: bold;
    text-transform: uppercase;	
    	
    }
    
    h2{
    font-size: 10px;
    color: $bianco;
    font-family: 'Droid Sans';
    font-weight: bold;
    text-transform: uppercase;
    line-height: 15px;	
    	
    }
    
    h3{
    font-size: 10px;
    color: $bianco;
    font-family: 'Droid Sans';
    font-weight: bold;
    text-transform: uppercase;
    
       .giorno{
       color: $light-petrolio;
       font-size: 12px;
       padding-right: 8px;
       }
       
       .ora{
       	font-weight: normal;
       	float: none;
       }
    	
    }
    
   .contenuti{
   list-style: none;
   margin-left: -30px;
   margin-top: 30px;
   float: left;
   
      a{
       color: $light-petrolio;
       font-family: 'Droid Sans';
       font-weight: bold;
       text-transform: uppercase;
       font-size: 11px;
       margin-left: 10px;
       line-height: 25px;
      }
   
     .number{
     	color: $grey-scuro;
     	background-color: $fluo-blue;
     	line-height: 19px;
     }
     
     
     
       }
       
       
       #banner{
       background: image-url("banner-premi.png") no-repeat left top;
       width: 115px;
       height: 121px;
       margin-left: 511px;
       margin-top: -93px;
       
       
       }
   
       
       #social{
       margin-left: 470px;
       margin-top: -170px;
       position: absolute;
       margin-top: -35px;
       	
       	
       	.facebook{
       	background: image-url("icona-facebook.png") no-repeat left top;
       	width: 41px;
       	height: 41px;
       	position: absolute;
       	}
       	
       	
       	.twitter{
       	background: image-url("icona-twitter.png") no-repeat left top;
       	width: 41px;
       	height: 41px;
       	position: absolute;
       	margin-left: 40px;
       	}
       }
       	
	}
	
	
	.divisore-profilo{
	 background: image-url("divisore-profilo.png") no-repeat left top;
	 width: 600px;
	 height: 2px;
	 margin-top: 260px;
	 margin-left: 18px;
	 position: absolute;
	
		
	}
	
	//	FINE BOX PROFILO MIO UTENTE
	
	
	
	
	   
	    #box-singolo-esercizio{
    		   	background: image-url("box-singolo-esercizio.png") no-repeat left top;
    		   	width: 639px;
    		   	height: 184px;
    
    	
    }
    
    //	BOX SINGOLO ESERCIZIO
	