// Combine the partials into a single screen stylesheet.
@import "partials/text";
@import "partials/grid";
@import "partials/font-awesome";

@import "compass/typography/text/ellipsis";
@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/typography/text/replacement";
@import "compass/utilities/sprites/sprite-img";
@import "compass/utilities/sprites/base";
@import "compass/css3/box-shadow";
@import "compass/css3/background-clip";
@import "compass/css3/opacity";
@import "compass/layout/stretching";
@import "compass/css3/font-face";
@import "compass/utilities/color";
@import "blueprint/colors";
@import "compass/utilities/general/float";
@import "compass/css3/text-shadow";
@import "compass/utilities/general/clearfix";
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

$light-green: #057C79;
$dark-green: #084936;
$fluo-blue: #00FFB0;
$fluo-blue-2: #28EAA4;
$fluo-blue-3: #38D69A;
$soft-blue: #C9F7F5;
$white-icons: #FFFFFF;
$text-green: #3D635F;
$link-blue: #24D1C8;
$light_grey: #F7FCFB;
$grey: #DAEDE9;
$azzurro_title: #49ADA8;
$light_petrolio: #4CC1B8;
$dark_line_petrolio: #036863;
$light_line_petrolio: #159690;
$azzurro_fluo: #9FFFFC;
$light_petrolio_bg: #25A599;
$lighter_green: #6CD8C9;
$water_green: #45BFB0;
$darkest_blue: #03514B;
$dark_blue: #086661;
$grey_blue: #94D3CC;
$white_azzurro: #E1FFFD;
$azzurro_strisce: #B8F2ED;
$bianco: #FFFFFF;
$scritte_scure: #29776E;
$grey_scuro:#5E5A5E;




@include font-face("header11-webfont", font-files("header11-webfont.woff","header11-webfont.ttf","header11-webfont.otf", "header11-webfont.svg"), "header11-webfont", 400, regular);

//
@mixin background-sprite($map){
	background-image: sprite-url($map);
} 

body{
	-webkit-font-smoothing: antialiased;
}

.bp{
	background-color:  #FFFFFF;
}

#content{
	@include grid-container;
	background-color: #FFFFFF;
	        
}

#lesson{
       @include grid-container;
       background: image-url("diagonal_green_bg.png") repeat left top;
	height: 400px;
	margin-top: 100px;
        background-color: $fluo-blue;
        .infor{
            @include grid(5);
           
            height:100%;
            position: relative;
            .aut-date{
             position: absolute;    
             bottom: 0px;
           hr{
                       @include grid(5);

                           }
                        }
       }
       .foto{
           @include grid(11);
           @include omega; 
           background-color: $fluo-blue-3;
           height:100%;           
        }
        h3{
            font-size: 15px;
            color: $dark-green;
            font-family: 'Droid Sans';
            font-weight: 700;
            text-transform: uppercase;			
        }
        
        h1{
	        font-size: 25px;
	        color: $dark-green;
	        font-family: 'Droid Sans';
	        font-weight: 700;
	        text-transform: uppercase;
	        
	        $default-text-shadow-h-offset: 0px;
                $default-text-shadow-v-offset: 2px;
                $default-text-shadow-blur: 1px;
                $default-text-shadow-spread: true;
                $default-text-shadow-color: $white-icons;	       
	        @include single-text-shadow();
        }
        
        h4{
            color: $dark-green;
            font-weight: 700;
            font-family: 'Droid Sans';
            text-transform: uppercase;
            font-size: 13px;
            span{
                color: $light-green;
                font-weight: 400;
                text-transform: capitalize;
            }
        }
}

.section_container{
	margin: 30px auto;
	width: 942px;
	height: auto;
	background: $light_grey;
	border: 1px solid $grey;
	h3{
		font-family: 'Droid Sans';
		font-weight: 400;
		font-size: 10px;
		line-height: 9px;
		text-transform: uppercase;
		color: $azzurro_title;
		padding: 12px; 
	}
	.box_video_spacer{
		width: 935px;
		height: auto;
//		background: red;
		@include clearfix;
		margin: 0 0 10px 4px;
		list-style-type: none;
		a{
			text-decoration: none;
			.box_video{
				width: 170px;
				height: 167px;
				background: $light-green;
				font-family: 'Droid Sans';
				padding: 8px;
				float: left;
				margin-right: 1px;
				.img_video{
					width: 171px;
					height: 100px;
					overflow: hidden;
					-webkit-box-shadow: 0 0 5px rgba(32, 79, 59, 0.5), 0 0 10px rgba(32, 79, 59, 0);
					-moz-box-shadow: 0 0 5px rgba(32, 79, 59, 0.5), 0 0 10px rgba(32, 79, 59, 0);
					box-shadow: 0 0 5px rgba(32, 79, 59, 0.5), 0 0 10px rgba(32, 79, 59, 0);
					
				}
				.icon{
					width: 25px;
					height: 25px;
//					background: white;
					float: left;
					margin: 8px 0 0 4px;
				}
				h1{
					width: 130px;
					font-weight: 400;
					font-size: 12px;
					line-height: 15px;
					color: white;
					padding-left: 40px;
					padding-top: 6px;
				}
				.posted_by{
					width: 130px;
					font-weight: bold;
					font-size: 10px;
					color: $light_petrolio;
					padding-left: 40px;
				}
			}
		}
	}
	
	.box_video_spacer{
			a:hover, a:visited{
				text-decoration: none;
				.box_video{
					background: image-url("diagonal_azzurro_bg.png") repeat left top;
					h1{
						color: $light-green;
					}
					.posted_by{
						color: $dark-green;
					}
				}
			}
		}
	
}

.section_container{
	@include clearfix;
	.categorie_spacer{
				width: 940px;
				height: auto;
//				background: red;
				@include clearfix;
				margin: 10px 0 4px 4px;
				list-style-type: none;
				
		.categorie{
			width: 231px;
			height: 49px;
			background: image-url("diagonal_white_bg.png") repeat left top;
			float: left;
			margin-right: 3px;
			.icon{
				width: 36px;
				height: 32px;
//				background: white;
				float: left;
				margin: 8px;
			}
			h1{
				font-family: 'Droid Sans';
				font-weight: bold;
				font-size: 14px;
				line-height: 13px;
				text-transform: uppercase;
				color: $azzurro_title;
				float: left;
				margin-top: 11px; 
			}
		}
	}
	.lezioni_spacer{
//		background: cyan;
		width: auto;
		height: auto;
		@include clearfix;
		margin: 0 0 0 3px;
		.container_lezioni{
			margin: 0;
			padding: 0;
			list-style-type: none;
			float: left;
			a{
				text-decoration: none;
			
				.box_lezione{
					width: 185px;
					height: auto;
					background: $light-green;
					font-family: 'Droid Sans';
					padding-left: 48px;
					@include clearfix;
					margin: 10px 1px 10px 0;
					
					
					.img_video{
						width: 225px;
						height: 128px;
						overflow: hidden;
						margin: 4px 4px 0 4px;
						clear: both;
						position: relative;
						left: -48px;
						-webkit-box-shadow: 0 0 5px rgba(32, 79, 59, 0.5), 0 0 10px rgba(32, 79, 59, 0);
						-moz-box-shadow: 0 0 5px rgba(32, 79, 59, 0.5), 0 0 10px rgba(32, 79, 59, 0);
						box-shadow: 0 0 5px rgba(32, 79, 59, 0.5), 0 0 10px rgba(32, 79, 59, 0);
							
					}
					.icon{
						width: 25px;
						height: 25px;
//						background: white;
						position: relative;
						margin-left: -35px;
						margin-top: 34px;
						float: left;
						font-size: 24px;
					}
					h2{
						width: 168px;
						font-weight: bold;
						font-size: 10px;
						line-height: 11px;
						text-transform: uppercase;
						color: $fluo-blue;
						padding-top: 16px;
					}
					h1{
						width: 168px;
						font-weight: normal;
						font-size: 14px;
						line-height: 17px;
						color: white;
						padding-top: 4px;
					}
					.posted_by{
						width: 168px;
						font-weight: bold;
						font-size: 10px;
						color: $light_petrolio;
						padding-top: 2px;
					}
					hr{
						width: 168px;
						height: 1px;
						margin: 0;
						padding: 0;
						border: 0;
					}
					.line_top{
						background: $dark_line_petrolio;
						margin-top: 3px;
					}
					.line_bottom{
						background: $light_line_petrolio;
						margin-bottom: 10px;
					}
					p{
						width: 168px;
						font-weight: normal;
						font-size: 10px;
						line-height: 13px;
						color: white;
						margin: 0 0 10px 0;
						display: none;
					}
					.box_number_views{
						float: left;
						margin-bottom: 12px;
						border-bottom: 1px solid $darkest_blue;
						border-left: 1px solid $dark_blue;
						border-right: 1px solid $dark_blue;
						border-top: 1px solid $dark_blue;
						.number_views{
							font-weight: normal;
							font-size: 10px;
							line-height: 10px;
							color: $azzurro_fluo;
							background: $light_petrolio_bg;
							border-bottom: 1px solid $lighter_green;
							border-left: 1px solid $water_green;
							border-top: 1px solid $water_green;
							border-right: 1px solid $water_green;
							padding: 2px;
						}
					}
					.views{
						font-weight: normal;
						font-size: 10px;
						line-height: 10px;
						color: $light_petrolio;
						float: left;
						margin-left: 3px;
						margin-top: 4px;
					}
				}
			}
		}
	}
	
	
	.lezioni_spacer{
			.container_lezioni{
				list-style-type: none;
				a:hover, a:visited{
					text-decoration: none;
				
					.box_lezione{
						background: image-url("diagonal_azzurro_bg.png") repeat left top;
						h2{
							color: $dark-green;
						}
						h1{
							color: $light-green;
						}
						.posted_by{
							color: $dark-green;
						}
						.line_top{
							background: transparent;
						}
						.line_bottom{
							background: $grey_blue;
						}
						p{
							color: $light-green;
						}
						.box_number_views{
							border-bottom: 1px solid #0A665D;
							border-left: 1px solid #1B8C81;
							border-right: 1px solid #1B8C81;
							border-top: 1px solid #1B8C81;
							.number_views{
								background: $light_petrolio_bg;
								border-bottom: 1px solid $white_azzurro;
								border-left: 1px solid #96E0D5;
								border-top: 1px solid #96E0D5;
								border-right: 1px solid #96E0D5;
							}
						}
						.views{
							color: $light-green;
						}
					}
				}
			}
	}	
}


//	BOX CORSI
	.corsi_container{
		
		.corsi{
			width: 968px;
			height: auto;
//			background: red;
			margin: 0 0 30px 0;
			padding: 0;
			@include clearfix;
			list-style-type: none;
//			overflow: visible;
			position: relative;
			left: -18px;
			li{
				position: relative;
				float: left;
				margin: 0 7px 0 0;
				padding: 0;
				a{
					text-decoration: none;
					overflow: visible;
					.box_corso{
						width: 312px;
						height: 363px;
						background: image-url("corsi_bg.png") no-repeat left top;
						font-family: 'Droid Sans';
						color: $dark-green;
						
						h2{
							width: 282px;
							font-weight: bold;
							font-size: 13px;
							line-height: 15px;
							text-transform: uppercase;
							padding: 15px 0 0 20px;
							margin: 0;
						}
						h1{
							width: 282px;
							height: 77px;
							font-weight: bold;
							font-size: 22px;
							line-height: 27px;
							text-transform: uppercase;
							overflow: hidden;
							margin: 10px 0 0 0;
							padding: 0 0 0 20px;
//							@include ellipsis;
						}
						.posted_by{
							font-weight: bold;
							font-size: 10px;
							padding: 0 0 0 20px;
							margin: 10px 0 0 0;
							position: relative;
							float: left;
						}
						.numero_lezioni{
							position: relative;
							float: right;
							padding: 0 10px 0 0;
							margin: 10px 0 8px 0;
							.number{
								width: 19px;
								height: 19px;
								background: $dark-green;
								color: white;
								font-weight: bold;
								font-size: 12px;
								position: relative;
								float: left;
								text-align: center;
								border-radius: 10px;
								padding: 1px 0 0 1px;
								margin-top: -2px;
							}
							span{
								font-weight: bold;
								text-transform: uppercase;
								position: relative;
								float: left;
								font-size: 10px;
								margin-left: 4px;
							}
						}
						.cover_corso{
							padding: 0 0 0 20px;
							margin: 0;
							img{
							}
						}
						p{
							width: 282px;
							height: 60px;
							font-weight: 400px;
							font-size: 13px;
							line-height: 15px;
							padding: 0 0 0 20px;
							margin: 16px 0 0 0;
							overflow: hidden;
						}
						.tipologie_lezioni{
							list-style-type: none;
							li{
								position: relative;
								float: left;
								font-weight: bold;
								font-size: 12px;
								margin: 8px 25px 0 0;
								padding: 0;
								.icon{
									position: relative;
									float: left;
								}
								span{
									position: relative;
									float: left;
								}
							}
						}
					}
				}
				
				a:hover, a:visited{
					.box_corso{
						background: image-url("corsi_bg_hover.png") no-repeat left top;
					}
				}
			}
			
			li:first-child{
				a{
					
					.box_corso{
						background: image-url("corsi_bg_linguetta.png") no-repeat left top;
						position: relative;
//						left: -18px;
						width: 330px;
						h2{
							padding-left: 38px;
						}
						h1{
							padding-left: 38px;
						}
						.posted_by{
							padding-left: 38px;
						}
						.cover_corso{
							padding-left: 38px;
						}
						p{
							padding-left: 38px;
						}
						.tipologie_lezioni{
							padding-left: 20px;
						}
					}
				}
				a:hover, a:visited{
					.box_corso{
						background: image-url("corsi_bg_linguetta_hover.png") no-repeat left top;
					}
				}
			}
			
			li:last-child{
				margin: 0;
			}
		}
	}
//	CHIUSO BOX CORSI



#container{
        @include grid(11);

 }
 
#testo {
    @include grid(9);
    @include grid-suffix(2);
    p{
	    font-size: 13px;
		color: $text-green;
		font-family: 'Droid Sans';
		font-weight: 400;
    }
    
    a{
	    color: $link-blue;
	    text-decoration: none;
    }
        
}

#comment{
        @include grid(10.5);
        @include alpha;
        background-color: black;
        textarea{
                @include grid(10);
                @include omega;
                @include alpha;
                 border: 1px solid #323232;
        }
}

#comment-2{
        @include grid(10);
        @include omega;
        background-color: $soft-blue;
        h4{
            @include grid(1);
            @include alpha;
        }
        .icon{
            @include grid(1);
            @include alpha;
            height: 40px;
            background-color: white;
        }
        .text{
                @include grid(6);  
                @include alpha;
        }
        
        p{
        	color:$azzurro_title;
        	font-family: 'Droid Sans';
        	font-size: 13px;
        	text-transform: lowercase;
        	font-weight: regular;
        	
        }
        
}

#comment-3{
    @include grid-push(1);
        @include grid(9);
        @include omega;
        background-color: $soft-blue;
        h4{
            @include grid(1);
            @include alpha;
        }
        .icon{
            @include grid(1);
            @include alpha;
            height: 40px;
            background-color: white;
        }
        .text{
                @include grid(5);  
                @include alpha;
        }
        
        p{
        	color:$azzurro_title;
        	font-family: 'Droid Sans';
        	font-size: 13px;
        	text-transform: lowercase;
        	font-weight: regular;
        	
        }
}

#comment-4{
    @include grid-push(2);
        @include grid(8);
        @include omega;
        background-color: $soft-blue;
        h4{
            @include grid(1);
            @include alpha;
        }
        .icon{
            @include grid(1);
            @include alpha;
            height: 40px;
            background-color: white;
        }
        .text{

                @include grid(4);  
                @include alpha;

        }
        
        p{
        	color:$azzurro_title;
        	font-family: 'Droid Sans';
        	font-size: 13px;
        	text-transform: lowercase;
        	font-weight: regular;
        	
        }
        
}

#barra{
           @include grid(5);
           @include omega;
           .list{
            @include grid(5);
                @include omega;
                @include alpha;
                .icon{
                @include grid(1);
                @include alpha;
                height: 15px;
                background-color: black;
               }
                ul{                
                @include grid(5);
                @include alpha;
                list-style: none;
                style-type-position: inside;
                }
           }
           .image{
                @include grid(5);
                @include omega;
                @include alpha;
                height:250px;
                background-color: $fluo-blue;
               
                margin-top: 10px;
           }
           .ultime-lezioni{
                background-color: $fluo-blue-3;
                @include grid(5);
                @include omega;
                @include alpha;
                height: 200px; //???
               
                  
                   ul{
                        list-style: none;
                        @include grid(5);
                        @include alpha;
                        background-color: $fluo-blue;      
                   }
                   .simbolo{

                        @include grid(1);
                        @include alpha;
                        height:20px;
                   }
                   .title{
                       @include grid(4);
                        @include alpha;
                        p{
                            color: $white-icons;
                        }
                    }
                }
           }



/*ul.stats-tabs li {
	float: left;
	margin: 0 10px 0 0;
	padding: 0 10px 0 0;
	border-right: 1px solid #ccc;
}
	
ul.stats-tabs li:last-child {
	margin: 0;
	padding: 0;
	border: none;	
}
	
ul.stats-tabs li a {	
	display: block;
	float: left;
	font-size: 18px;
	font-weight: bold;	
}*/




//	BARRA REGISTRATI


#titolo_registrati{

  background: image-url("diagonal_green_scuro_bg.png") repeat left top;
   height: 400px;
   margin-top: 100px;
   height: 400px;
   margin-top: 100px;
   width: 620px;
   height: 50px;
   margin-left: 30px;
   border-top-right-radius: 10px;

 }
 
 #titolo_registrati h1{
 
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    color: $white_azzurro;
    font-family: 'Droid Sans';
    margin-left: 20px;
    margin-top: 8px; 
    
    /*font-weight: 400;*/
    
    
 }

#linea{

  background-color: $light-green;
  height: 1px;
  width: 620px;
  margin-top: 1px;
  margin-left: 30px;
  margin-bottom: 30px;
  }
  
  //	FINE BARRA REGISTRATI  
  
  


//	SIDEBAR EDIT


#sidebar_edit{

   background-color: $white_azzurro;
   width: 280px;
   height: 163px;
   margin-left: 30px;
   margin-top: 20px;
    h1{
	
	color:$light-green;
	font-family: 'Droid Sans';
	font-size: regular;
	font-size: 21px;
	text-transform: uppercase;
	margin-left: 24px;
	

	$default-text-shadow-h-offset: 0px;
	    $default-text-shadow-v-offset: 2px;
	    $default-text-shadow-blur: 1px;
	    $default-text-shadow-spread: true;
	    $default-text-shadow-color: $white-icons;	       
	@include single-text-shadow();
	
	
}
h2{
	
	color:$azzurro_title;
	font-family: 'Droid Sans';
	font-weight: normal;
	font-size: 13px;
	width: 232px;
	line-height: 15px;
	margin-left: 24px;
	
}


	
}



#titolo_sidebar{
  
   background: image-url("icona_help.png") no-repeat;
   height: 21px;
   width: 21px;
   margin-left: 30px;

	
}

#titolo_sidebar p{

   margin-left: 15px;
   margin-top: 50px;
   color:#0CC4C4;
   font-family: 'Droid Sans';
   font-size: 13px;
   font-weight: bold;
   text-transform: uppercase;

	
}


#sidebar_edit_2{

   background-color: $white_azzurro;
   width: 280px;
   height: 133px;
   margin-left: 30px;
   margin-top: 2px;

	
}

#sidebar_edit_2 h1{
	
	color:$light-green;
	font-family: 'Droid Sans';
	font-size: regular;
	font-size: 21px;
	text-transform: uppercase;
	margin-left: 24px;
	

	$default-text-shadow-h-offset: 0px;
	    $default-text-shadow-v-offset: 2px;
	    $default-text-shadow-blur: 1px;
	    $default-text-shadow-spread: true;
	    $default-text-shadow-color: $white-icons;	       
	@include single-text-shadow();
	
	
}

#sidebar_edit_2 h2{
	
	color:$azzurro_title;
	font-family: 'Droid Sans';
	font-weight: normal;
	font-size: 13px;
	width: 232px;
	line-height: 15px;
	margin-left: 24px;
	
}


  //	FINE SIDEBAR EDIT
  
   

.bottone{
   background-color: $dark-green;
   width: 131px;
   height: 26px;   
   border-radius:30px;
   margin-top: 30px;
   margin-left: 30px;
      }                                   
                 
.testo_bottone_1{

  color:$bianco;
  font-family: 'Droid Sans';
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  margin-left: 32px;
  margin-top: 4px;
  

}     

            
//	BOX VIDEO HOME
 
 
 .box_testo{
 	width: 398px;
 	height: 285px;
 	background: image-url("home_video_linguetta.png") no-repeat left top;
 	font-family: 'Droid Sans';
 	color: $dark-green;
 	display: inline;
 	float: left;
 	}



.box_testo h2{
   width: 282px;
   font-weight: bold;
   font-size: 13px;
   line-height: 15px;
   text-transform: uppercase;
   padding: 15px 0 0 20px;
   margin: 0;
						}
						
.box_testo h1{
  width: 282px;
  height: 77px;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  overflow: hidden;
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;

						}


.posted_by{
	font-weight: bold;
	font-size: 10px;
	padding: 0 0 0 20px;
	margin: 10px 0 0 0;
	position: relative;
	float: left;
}

.numero_lezioni{
	position: relative;
	float: right;
	padding: 0 100px 0 0;
	margin: 10px 0 8px 0;
	
	}


.number{
	width: 19px;
	height: 19px;
	background: $dark-green;
	color: white;
	font-weight: bold;
	font-size: 12px;
	position: relative;
	float: left;
	text-align: center;
	border-radius: 10px;
	padding: 1px 0 0 1px;
	margin-top: -2px;
}

span{
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	float: left;
	font-size: 10px;
	margin-left: 4px;
}

p{
	width: 282px;
	height: 70px;
	font-weight: 400px;
	font-size: 13px;
	line-height: 15px;
	padding: 0 0 0 20px;
	margin: 16px 0 0 0;
	overflow: hidden;
}


.video{

  background: image-url("foto_video_home.png") no-repeat left top;
  width: 579px;
  height: 285px;
  display: inline;
  float: left;
  
	
}


#box_home{
	margin-top: 30px;
	margin-left: 30px;
}

.divisore{
	margin-left: 20px;
}


.bottone_corso{
   background-color: $dark-green;
   width: 101px;
   height: 20px;   
   border-radius:30px;
   margin-left: 20px; 
  
      }                                   
                 
.testo_bottone{

  color:$bianco;
  font-family: 'Droid Sans';
  font-weight: bold;
  font-size: 12px;
  text-transform: lowercase;
  margin-left: 18px;


}     


//	FINE BOX VIDEO HOME




//	BOX CORSO PAGINA CATEGORIE





.corso{
 	width: 638px;
 	height: 209px;
 	background: image-url("box_corso_categoria.png") no-repeat left top;
 	font-family: 'Droid Sans';
 	color: $dark-green;
 	display: inline;
 	float: left;
 	margin-top: 30px;
 	
 	   h2{
 	      width: 282px;
 	      font-weight: bold;
 	      font-size: 10px;
 	      line-height: 15px;
 	      text-transform: uppercase;
 	      margin-top: 10px;
 	      margin-left: 40px;
 	   						}
 	   						
 	   h1{
 	     width: 158px;
 	     height: 77px;
 	     font-weight: bold;
 	     font-size: 14px;
 	     line-height: 17px;
 	     text-transform: uppercase;
 	     overflow: hidden;
 	     font-weight: normal;
 	     text-transform: lowercase;
 	     margin-left: 40px;
 	
 							}
 							
        	
        	
        	
        	.relatore{
         font-weight: bold;
         font-size: 10px;
         margin-top: -26px;
         margin-left: 40px;
         position: relative;
         color: $light-green;
        		
        	}
        	
        	p{
         width: 334px;
         height: 80px;
         font-weight: 400px;
         font-size: 10px;
         line-height: 13px;
         overflow: hidden;
         float: right;
         margin-right: 20px;
         margin-top: 10px;
        	}
        	
        	.img_corso_categoria{
         margin-left: 27px;
         margin-top: -8px;
         position: absolute;
         float: right;
        	}
        	
      }
        	

.divisore_2{
	    margin-left: 40px;
        margin-top: -16px;
}


.img_corso_categoria{
	    margin-left: 40px;
}


.categorie_corso{
	position: absolute;
	list-style: none;
	margin: 0 auto;
	margin-left: 450px;
	margin-top: -35px;
	
	ul {
	list-style: none;
	margin:0 auto;
	width: 1000px;
	}
	
	li{float: left;
	
	margin-left: 20px;
	
	}
	
}


//	FINE BOX CORSO PAGINA CATEGORIE


//	BOX LEZIONE PAGINA CATEGORIE


#box_pagina_categoria_2{
}


.lezione{
 	width: 638px;
 	height: 209px;
 	background: image-url("box_lezione_categoria.png") no-repeat left top;
 	font-family: 'Droid Sans';
 	display: inline;
 	float: left;
 	margin-top: 30px;
 	
 	   h2{
 	      
 	      font-weight: bold;
 	      font-size: 10px;
 	      line-height: 15px;
 	      text-transform: uppercase;
 	      margin-top: 10px;
 	      margin-left: 70px;
 	      color: $fluo-blue;
 	   						}
 	   						
 	   h1{
 	     width: 281px;
 	     height: 77px;
 	     color: $bianco;
 	     font-weight: normal;
 	     font-size: 14px;
 	     line-height: 17px;
 	     text-transform: uppercase;
 	     overflow: hidden;
 	     font-weight: normal;
 	     text-transform: lowercase;
 	     margin-left: 70px;
 	
 							}
 							
 							.relatore{
 							font-weight: bold;
 							font-size: 10px;
 						    position: relative;
 							color: $light_petrolio;
 							margin-top: -40px;
 							margin-left: 70px;
 									
 								}
 								
 								.divisore_3{
 									    margin-left: 70px;
 								        margin-top: -30px;
 								}
 								
 								.icona_audio_b{
 								    position: absolute;
 									margin-top: -90px;
 									margin-left: 33px;
 								}
 								
 								
 								 									
 								.box_number_views{
 									float: left;
 									margin-bottom: 12px;
 									border-bottom: 1px solid $darkest_blue;
 									border-left: 1px solid $dark_blue;
 									border-right: 1px solid $dark_blue;
 									border-top: 1px solid $dark_blue;
 									.number_views{
 										font-weight: normal;
 										font-size: 10px;
 										line-height: 10px;
 										color: $azzurro_fluo;
 										background: $light_petrolio_bg;
 										border-bottom: 1px solid $lighter_green;
 										border-left: 1px solid $water_green;
 										border-top: 1px solid $water_green;
 										border-right: 1px solid $water_green;
 										padding: 2px;
 									}
 								}
 								.views{
 									font-weight: normal;
 									font-size: 10px;
 									line-height: 10px;
 									color: $light_petrolio;
 									float: left;
 									margin-left: 3px;
 									margin-top: 4px;
 								}
 								
 								.box_likes{
 									float: left;
 									margin-bottom: 12px;
 									border-bottom: 1px solid $darkest_blue;
 									border-left: 1px solid $dark_blue;
 									border-right: 1px solid $dark_blue;
 									border-top: 1px solid $dark_blue;
 									.icona_likes{
 									    background: $bianco;
 									    padding: 5px;
 									}
 								}
 								
 								.number_likes{
 									font-weight: normal;
 									font-size: 10px;
 									line-height: 10px;
 									color: $light_petrolio;
 									float: left;
 									margin-left: 3px;
 									margin-top: 4px;
 								}
 								
 								
 								.box_dislikes{
 									float: left;
 									margin-bottom: 12px;
 									border-bottom: 1px solid $darkest_blue;
 									border-left: 1px solid $dark_blue;
 									border-right: 1px solid $dark_blue;
 									border-top: 1px solid $dark_blue;
 									.icona_dislikes{
 									    background: $bianco;
 									    padding: 5px;
 									}
 								}
 								
 								.number_dislikes{
 									font-weight: normal;
 									font-size: 10px;
 									line-height: 10px;
 									color: $light_petrolio;
 									float: left;
 									margin-left: 3px;
 									margin-top: 4px;
 								}
 								
}

#extras{
	margin-left: 400px;
	margin-top: -90px;
	position: absolute;
}

//	FINE BOX LEZIONE PAGINA CATEGORIE

#breadcrumbs{
	background: image-url("breadcrumb.png") no-repeat left top;
	width: 101px;
	height: 31px;
	position: absolute;
    margin-left: 40px;
	
	 .bread{
	   color:$azzurro_title;
	   font-family: 'Droid Sans';
	   font-size: 10px;
	   line-height: 10px;
	   margin-top: 8px;
	   margin-left: 13px;
	 }
}


//	BOX PROFILO MIO UTENTE


#profilo_mio_utente{
background: image-url("background_profilo.png") no-repeat left top;
width: 618px;
height: 371px;
position: absolute;
margin-top: 50px;
      
      
      .profilo{
      margin-top: 30px;
      }

    .avatar{
    background: image-url("foto_utente.png") no-repeat left top;
    width: 194px;
    height: 181px;
    float: left;
    margin-left: 40px;
    }
    
    
    h1{
    font-size: 15px;
    color: $bianco;
    font-family: 'Droid Sans';
    font-weight: bold;
    text-transform: uppercase;	
    	
    }
    
    h2{
    font-size: 10px;
    color: $bianco;
    font-family: 'Droid Sans';
    font-weight: bold;
    text-transform: uppercase;
    line-height: 15px;	
    	
    }
    
    h3{
    font-size: 10px;
    color: $bianco;
    font-family: 'Droid Sans';
    font-weight: bold;
    text-transform: uppercase;
    
       .giorno{
       color: $light_petrolio;
       font-size: 12px;
       padding-right: 8px;
       }
       
       .ora{
       	font-weight: normal;
       	float: none;
       }
    	
    }
    
   .contenuti{
   list-style: none;
   
      a{
       color: $light_petrolio;
       font-family: 'Droid Sans';
       font-weight: bold;
       text-transform: uppercase;
       font-size: 11px;
       margin-left: 10px;
       line-height: 25px;
      }
   
     .number{
     	color: $grey_scuro;
     	background-color: $fluo-blue;
     }
     
     
     
       }
       
       
       #banner{
       background: image-url("banner_premi.png") no-repeat left top;
       width: 115px;
       height: 121px;
       margin-left: 511px;
       
       
       }
   
       
       #social{
       margin-left: 470px;
       margin-top: -170px;
       	
       	
       	.facebook{
       	background: image-url("icona_facebook.png") no-repeat left top;
       	width: 41px;
       	height: 41px;
       	position: absolute;
       	}
       	
       	
       	.twitter{
       	background: image-url("icona_twitter.png") no-repeat left top;
       	width: 41px;
       	height: 41px;
       	position: absolute;
       	margin-left: 40px;
       	}
       }
       	
	}
	
	
	.divisore_profilo{
	 background: image-url("divisore_profilo.png") no-repeat left top;
	 width: 600px;
	 height: 2px;
	 margin-top: 260px;
	 margin-left: 18px;
	 position: absolute;
	
		
	}
	
	//	FINE BOX PROFILO MIO UTENTE
	
	
	
	//	BOX CORSO INIZIATO
	
	
	.box_corso_iniziato{
		position: absolute;
		background: image-url("background_corso_iniziato.png") no-repeat left top;
		width: 330px;
		height: 247px;
		
		
		   h1{font-size: 17px;
		   color: $dark-green;
		   font-family: 'Droid Sans';
		   font-weight: 700;
		   text-transform: uppercase;
		   line-height: 17px;
		   
		   $default-text-shadow-h-offset: 0px;
		       $default-text-shadow-v-offset: 2px;
		       $default-text-shadow-blur: 1px;
		       $default-text-shadow-spread: true;
		       $default-text-shadow-color: $white-icons;	       
		   @include single-text-shadow();
		   
		   margin-top: 21px;
		   margin-left: 39px;
		   
		   }
		   
		   span{
		   	color: $dark-green;
		   	font-family: 'Droid Sans';
		   	font-size: 10px;
		   }
		   
		   .numero_lezioni{
		   	margin-right: 120px;
		   }
		   
		   .cover_corso{
		    position: absolute;
		   	margin-top: 12px;
		   	margin-left: 10px;
		   }
		   
		   .caricamento{
		   	background: image-url("box_caricamento.png") no-repeat left top;
		   	width: 223px;
		   	height: 32px;
		   	margin-top: 140px;
		   	margin-left: 36px;
		   }
	}	
	
		//	FINE BOX CORSO INIZIATO
	
	   
	    //	BOTTONE BOX ALTRO UTENTE
	
	
	.bottone_segui_utente{
		background-color:$fluo-blue ;
		width: 144px;
		height: 22px;
		border-radius:30px;
		margin-left: 40px; 
	    overflow: hidden;
		
		p{
		color: $text-green;
		font-size: 13px;
		font-family: 'Droid Sans';
		font-weight: bold;
		position: absolute;
		margin-left: -9px;
		margin-top: 2px;
		
		
		}
		
	}

    //	FINE BOTTONE BOX ALTRO UTENTE
    
    #box_singolo_esercizio{
    		   	background: image-url("box_singolo_esercizio.png") no-repeat left top;
    		   	width: 639px;
    		   	height: 184px;
    
    	
    }
    
    //	BOX SINGOLO ESERCIZIO
	