#banner-devi-loggarti{
  
  
  
 h1{
 color: $green-title;
 font-size: 18px;
 font-family: 'Droid Sans';
 font-weight: bold;
 line-height: 20px;
 margin-top: 8px;
 
}

 }

hr{
	width: 600px;
	height: 2px;
    background: $dark-green;
    margin-top: 10px;
	}
