.error{

background-color: white;
border-bottom: 1px solid $dark-green;
border-top: 1px solid $dark-green;
color: $text-green;
font-size: 18px;
font-family: 'Droid Sans';
font-weight: bold;
line-height: 20px;
margin-top: 12px;
padding-top: 2px;
padding-bottom: 2px;

}