#banner-lezioni{
  
  
  
 h1{
 color: #026661;
 font-size: 18px;
 font-family: 'Droid Sans';
 font-weight: bold;
 line-height: 20px;
 margin-top: 12px;
 padding-bottom: 12px;
 @include float-left;
 
}

 .risposte{
 color: $link-blue;
 font-size: 27px;
 font-family: 'Droid Sans';
 font-weight: bold;
	
 }



hr{
	width: 600px;
	height: 2px;
	background: $fluo-blue;
	}
.btn.green{
	@include float-right;
	margin-left:0px;
	margin-right:60px;
	width:129px;
	font-size: 13px;
	margin-top: 23px;
}
}	