.paragrafo-video-corso{
	@include grid(10);
	padding-left: 10px;
	margin-top: 40px;

	 p{

	   	font-family: 'Droid Sans';
	   	font-weight: bold;
	   	font-size: 16px;
	   	color: $text-green;
	   	text-transform: uppercase;

	 }

	 a{
	 font-weight: bold;
		@include link-over-dark;
	 }

}