.video-corso{
 	width: 620px;
 	height: 310px;
 	position: relative;
 	
 	font-family: 'Droid Sans';
 	color: $dark-green;
 	@include float-left;
 	margin-top: 10px;
 	margin-bottom: 10px;
 	@include stripe-fluo-background;
	
  	.corner{
 		@include stripe-fluo-corner;
	 	
 	}
 	
 	  .a.btn.green{
 	  
 	  float: right;
 	  margin-right: 20px;
 	  margin-top: 20px;
 	  width: auto;
 	  margin-left: 0;
 	  }
 	
 	a{
	 	@include link-over-fluo;
 	}
 	
 	
 	.categorie-lezioni{
 		@include horizontal-list-container;
 		@include clearfix;
 		clear: left;
 		margin-left: 20px;
 		li{
 			@include horizontal-list-item;
 			font-weight: bold;
 			font-size: 12px;
 			margin: 8px 4px 0 0;
 			padding: 0;
 			.icon{
 				position: relative;
 				float: left;
 				font-size: 25px;
 				line-height: 27px !important;
 			}
 			span{
 				position: relative;
 				float: left;
 				margin-top: 5px;
/* 				margin-top: 10px;*/
 				margin-left: 9px;
 				margin-right: 5px;
 			}
 		}
 		li:last-child{
 			margin-right:0px;
 		}
 	}

 	   h4{
 	      font-family: 'Droid Sans';
 		  width: 300px;
 		  font-weight: bold;
 		  font-size: 15px;
 		  line-height: 15px;
 		  text-transform: uppercase;
 		  margin-top: 20px;
 		  margin-left: 320px;
 	   						}

 	   h3{
 	     font-family: 'Droid Sans';
 		 max-width: 270px;
 		 font-weight: bold;
 		 font-size: 25px;
 		 line-height: 30px;
 		 text-transform: uppercase;
 		 overflow: hidden;
 		 float: left;
 		 margin-left: 10px;
 		   $default-text-shadow-h-offset: 0px;
 		       $default-text-shadow-v-offset: 2px;
 		       $default-text-shadow-blur: 1px;
 		      
 		       $default-text-shadow-color: $white;	       
 		   @include single-text-shadow();
 		   
 		   
 							}
		.relatore{
			 font-weight: bold;
			 font-size: 10px;
			 display: block;
			 top:-3px;
			 margin-left: 40px;
			 position: relative;
			 color: $light-green;

			}

		p{
			 width: 334px;
			 height: 80px;
			 font-weight: 400px;
			 font-size: 10px;
			 line-height: 13px;
			 overflow: hidden;
			 float: right;
			 margin-right: 20px;
			 margin-top: 10px;
			}

		.img-corso-categoria{
			 margin-left: 20px;
			 position: relative;
			 @include float-left;
			 margin-top:20px;
			
			
			 width: 290px;
			 height: 150px;
			 @include single-box-shadow;
			}

	  }


.divisore-corso-video{

        background: image-url("divisore-2.png") ; 
		margin-top: 5px;
		margin-left: 20px;
		clear: both;
		width: 569px;
		height: 2px;

		}

.ashtag{
margin-left: 20px;
margin-top: 5px;

a{
	font-family: 'Droid Sans';
	font-weight: normal;
	font-size: 13px;
	color: $light-green;
	}
	 span{
	 font-weight: bold;
	 text-transform: uppercase;
	 color: $dark-green;
	 
	 }
	}


.pubblicato{
margin-left: 20px;


a{
	font-family: 'Droid Sans';
	font-weight: normal;
	font-size: 13px;
	color: $light-green;
	}
	span{
	font-weight: bold;
	text-transform: uppercase;
	color: $dark-green;
	
	}
}





.comm-box-video{
	@include grid(5);
	@include omega;
	@include alpha;
	float: right;
	margin-right: 20px;
	@include clearfix;
	.container-comments{	
			height: auto;
			@include clearfix;
			
			margin-top:20px;
			margin-bottom:20px;
			border-right: 1px solid #C5FFEA;
			float: left;
			&.first{
				
				padding-right: 10px;
			}
			&.center{
				margin-left: 10px;
				margin-right: 10px;
				width: 80px;
			}
			&.last{
				border-right: none;
				float: right;
			}
			.box-number-comments{
				float: left;
				border-bottom: 1px solid $verde-scuro;
				border-left: 1px solid $verde-medio;
				border-right: 1px solid $verde-medio;
				border-top: 1px solid $verde-medio;
			.number-comments{
				font-weight: normal;
				font-size: 10px;
				line-height: 10px;
				color: $dark-green;
				background: $light-fluo-green;
				border-bottom: 1px solid $lightest-water-green;
				border-left: 1px solid $lighter-water-green;
				border-top: 1px solid $lighter-water-green;
				border-right: 1px solid $lighter-water-green;
				padding: 2px;
				text-align: center;
			}
		}
		.comments{
			font-weight: normal;
			font-size: 10px;
			line-height: 10px;
			color: $dark-green;
			text-transform:lowercase;
			float: left;
			margin-left: 4px;
			margin-right:4px;
			margin-top: 4px;
		}
	}
	
	}


