.box-singolo-esercizio{
	



    @include stripe-fluo-background;
    position: relative;
	@include grid(11);
	height:183px;
	margin-top: 10px;
	margin-bottom: 10px;
	a{
		@include link-over-fluo;
	}
	
		
	.corner{
	 		@include stripe-fluo-corner;
		 	
	 	}
	.title{
		@include grid(4);
		margin-left: 40px;
		h4{
			color: $dark-green;
			font-weight: 700;
			font-family: 'Droid Sans';
			text-transform: uppercase;
			font-size: 15px;
			margin-top:20px;
		}
		h2{
		color: $dark-green;
		font-weight: bold;
		font-family: 'Droid Sans';
		text-transform: uppercase;
		font-size: 25px;
		$default-text-shadow-h-offset: 0px;
		$default-text-shadow-v-offset: 1px;
		$default-text-shadow-color: $white;	       
		@include single-text-shadow;
		}
	}
	.info{
		@include grid-push(1);
		@include grid(5);
		p{ 
		
			color: $dark-green;
			font-weight: 400;
			font-family: 'Droid Sans';
			font-size: 13px;
			float:left;
			
		}
	.number{                          
		background-color: $dark-green;
		width: 19px;
		height: 19px;
		color: white;
		font-weight: bold;
		font-size: 12px;
		position: relative;
		float: left;
		text-align: center;
		border-radius: 10px;
		padding: 1px 0 0 1px;
		margin-top: -2px;
	}
	
	p.data-commento{
	
		margin-left:15px;
		text-transform: uppercase;
		font-weight:bold;
		font-size:10px;
		color: $dark-green;
	
		span{
			text-transform: capitalize;
			margin-left:3px;
			margin-right:3px;
			font-weight: 400;              
			}
	
		}
	}
	p.description{
		margin-top: 10px;
	}
}
	
.comm{
	@include grid(5);
	@include omega;
	@include alpha;
	.container-comments{	
			height: auto;
			@include clearfix;
			
			margin-top:20px;
			margin-bottom:20px;
			border-right: 1px solid #C5FFEA;
			float: left;
			&.first{
				
				padding-right: 10px;
			}
			&.center{
				margin-left: 10px;
				margin-right: 10px;
				width: 80px;
			}
			&.last{
				border-right: none;
				float: right;
			}
			.box-number-comments{
				float: left;
				border-bottom: 1px solid $verde-scuro;
				border-left: 1px solid $verde-medio;
				border-right: 1px solid $verde-medio;
				border-top: 1px solid $verde-medio;
			.number-comments{
				font-weight: normal;
				font-size: 10px;
				line-height: 10px;
				color: $dark-green;
				background: $light-fluo-green;
				border-bottom: 1px solid $lightest-water-green;
				border-left: 1px solid $lighter-water-green;
				border-top: 1px solid $lighter-water-green;
				border-right: 1px solid $lighter-water-green;
				padding: 2px;
				text-align: center;
			}
		}
		.comments{
			font-weight: normal;
			font-size: 10px;
			line-height: 10px;
			color: $dark-green;
			text-transform:lowercase;
			float: left;
			margin-left: 4px;
			margin-right:4px;
			margin-top: 4px;
		}
	}

}
