.video-corso{
 	width: 638px;
 	height: 301px;
 	background: image-url("box-video-corso.png") no-repeat left top;
 	font-family: 'Droid Sans';
 	color: $dark-green;
 	display: inline;
 	float: left;
 	margin-top: 10px;
 	margin-bottom: 10px;
 	
 	  a.btn.dark.noborder{
 	  
 	  float: right;
 	  margin-right: 40px;
 	  margin-top: 20px;
 	  }
 	
 	a{
	 	@include link-over-fluo;
 	}
 	
 	
 	.tipologie-lezioni{
 		@include horizontal-list-container;
 		@include clearfix;
 		margin-top: 37px;
 		margin-left: 40px;
 		li{
 			@include horizontal-list-item;
 			font-weight: bold;
 			font-size: 12px;
 			margin: 8px 4px 0 0;
 			padding: 0;
 			.icon{
 				position: relative;
 				float: left;
 				font-size: 25px;
 			}
 			span{
 				position: relative;
 				float: left;
 				margin-top: 5px;
 				margin-left: 5px;
 			}
 		}
 		li:last-child{
 			margin-right:0px;
 		}
 	}

 	   h4{
 	      font-family: 'Droid Sans';
 		  width: 300px;
 		  font-weight: bold;
 		  font-size: 15px;
 		  line-height: 15px;
 		  text-transform: uppercase;
 		  margin-top: 10px;
 		  margin-left: 350px;
 	   						}

 	   h3{
 	     font-family: 'Droid Sans';
 		 max-width: 242px;
 		 height: 113px;
 		 font-weight: bold;
 		 font-size: 25px;
 		 line-height: 30px;
 		 text-transform: uppercase;
 		 overflow: hidden;
 		 margin-left: 350px;
 		   $default-text-shadow-h-offset: 0px;
 		       $default-text-shadow-v-offset: 2px;
 		       $default-text-shadow-blur: 1px;
 		      
 		       $default-text-shadow-color: $white;	       
 		   @include single-text-shadow();
 		   
 		   
 							}
		.relatore{
			 font-weight: bold;
			 font-size: 10px;
			 display: block;
			 top:-3px;
			 margin-left: 40px;
			 position: relative;
			 color: $light-green;

			}

		p{
			 width: 334px;
			 height: 80px;
			 font-weight: 400px;
			 font-size: 10px;
			 line-height: 13px;
			 overflow: hidden;
			 float: right;
			 margin-right: 20px;
			 margin-top: 10px;
			}

		.img-corso-categoria{
			 margin-left: 27px;
			 position: absolute;
			 float: right;
			}

	  }


.divisore-corso-video{

        background: image-url("divisore-2.png") ; 
		margin-top: 5px;
		margin-left: 40px;
		clear: both;
		width: 569px;
		height: 2px;

		}

.ashtag{
margin-left: 40px;
margin-top: 5px;

a{
	font-family: 'Droid Sans';
	font-weight: normal;
	font-size: 13px;
	color: $light-green;
	}
	 span{
	 font-weight: bold;
	 text-transform: uppercase;
	 color: $dark-green;
	 
	 }
	}


.pubblicato{
margin-left: 40px;


a{
	font-family: 'Droid Sans';
	font-weight: normal;
	font-size: 13px;
	color: $light-green;
	}
	span{
	font-weight: bold;
	text-transform: uppercase;
	color: $dark-green;
	
	}
}


.paragrafo-video-corso{
	float: left;
	width: 520px;
	margin-left: 40px;
	margin-top: 40px;
	
	 p{
	   
	   	font-family: 'Droid Sans';
	   	font-weight: normal;
	   	font-size: 13px;
	   	color: $text-green;
	 
	 }
	 
	 
	 .testo-parte1{
	 font-weight: bold;
	 	
	 }
	 
	 .testo-parte2{
	 font-weight: bold;
	 color: $link-blue;
	 	
	 }
	 
}


.comm-box-video{
	@include grid(5);
	@include omega;
	@include alpha;
	float: right;
	margin-right: 10px;
	@include clearfix;
	.container-comments{	
			height: auto;
			@include clearfix;
			
			margin-top:20px;
			margin-bottom:20px;
			border-right: 1px solid #C5FFEA;
			float: left;
			&.first{
				
				padding-right: 10px;
			}
			&.center{
				margin-left: 10px;
				margin-right: 10px;
				width: 80px;
			}
			&.last{
				border-right: none;
				float: right;
			}
			.box-number-comments{
				float: left;
				border-bottom: 1px solid $verde-scuro;
				border-left: 1px solid $verde-medio;
				border-right: 1px solid $verde-medio;
				border-top: 1px solid $verde-medio;
			.number-comments{
				font-weight: normal;
				font-size: 10px;
				line-height: 10px;
				color: $dark-green;
				background: $light-fluo-green;
				border-bottom: 1px solid $lightest-water-green;
				border-left: 1px solid $lighter-water-green;
				border-top: 1px solid $lighter-water-green;
				border-right: 1px solid $lighter-water-green;
				padding: 2px;
				text-align: center;
			}
		}
		.comments{
			font-weight: normal;
			font-size: 10px;
			line-height: 10px;
			color: $dark-green;
			text-transform:lowercase;
			float: left;
			margin-left: 4px;
			margin-right:4px;
			margin-top: 4px;
		}
	}
	
	}





	
	
	

