ul.breadcrumb-list{
	
	list-style: none;
a{
	@include link-over-stripe;
}

#breadcrumbs-intro{
	background: image-url("breadcrumb-intro.png") no-repeat left top;
	width: 114px;
	height: 31px;
	float: left;
	margin-top:15px;
	margin-bottom:15px;
	 .bread-intro{
	   color:$azzurro-title;
	   font-family: 'Droid Sans';
	   font-size: 10px;
	   line-height: 10px;
	   //margin-top: 5px;
	   margin-left: 14px;
	   float: left;
	   
	   img{
	   float: left;
	   margin-right: 3px;
	   
	   }
	   
	   
	   	 }
	   	 
	   	 span{
	   	 	font-weight: bold;
	   	 	text-transform: uppercase;
	   	 	position: relative;
	   	 	float: left;
	   	 }
	   	 
}


#breadcrumbs{
	background: image-url("breadcrumb.png") no-repeat left top;
	width: 101px;
	height: 31px;
	float: left;
	margin-top:15px;
	margin-bottom:15px;
	 .bread{
	   color:$azzurro-title;
	   font-family: 'Droid Sans';
	   font-size: 10px;
	   line-height: 10px;
	   margin-top: 5px;
	   margin-left: 13px;
	   
	   
	   	 }
	   	 
	   	 span{
	   	 	font-weight: bold;
	   	 	text-transform: uppercase;
	   	 	position: relative;
	   	 	float: left;
	   	 }
	   	 
}



#breadcrumbs-2{
	background: image-url("breadcrumb.png") no-repeat left top;
	width: 101px;
	height: 31px;
	float: left;
	margin-top:15px;
	margin-bottom:15px;
	.bread-2{
	   color:$azzurro-title;
	   font-family: 'Droid Sans';
	   font-size: 10px;
	   line-height: 10px;
	   margin-top: 5px;
	   margin-left: 13px;
	   
	   
	   	 }
	   	 
	   	 span{
	   	 	font-weight: bold;
	   	 	text-transform: uppercase;
	   	 	position: relative;
	   	 	float: left;
	   	 }
	   	 
}



#breadcrumbs-grande{
	background: image-url("bread-crumb.png") no-repeat left top;
	width: 170px;
	height: 38px;
	float: left;
	margin-top:10x !important; 
	margin-bottom:15px;
	.bread-grande{
	   color:$dark-green;
	   font-family: 'Droid Sans';
	   font-size: 16px;
	   line-height: 10px;
	   margin-top: 12px;
	   margin-left: 17px;
	   
	   
	   	 }
	   	 
	   	 span{
	   	 	font-weight: bold;
	   	 	text-transform: uppercase;
	   	 	position: relative;
	   	 	float: left;
	   	 }
	   	 
}

}

