@mixin link-over-fluo(){
	text-decoration: none;
	@include link-colors($dark-green, $text-green, $calm-green, $dark-green);
	cursor: pointer;
}

@mixin link-over-dark(){
	text-decoration: none;
	@include link-colors($light-petrolio, $fluo-blue, $light-petrolio, $light-petrolio);
	cursor: pointer;
}

@mixin link-fluo(){
	text-decoration: none;
	@include link-colors($fluo-blue, $azzurro-title, $light-petrolio, $light-petrolio);
	cursor: pointer;
}

@mixin link-over-stripe(){
	text-decoration: none;
	@include link-colors($azzurro-title, $fluo-blue, $azzurro-title,$azzurro-title);
	cursor: pointer;
}

@mixin link-white(){
	text-decoration: none;
	@include link-colors($white, $fluo-blue, $white,$white);
	cursor: pointer;
}


@mixin stripe-fluo-background(){

	background: image-url('diagonal-green-bg.png') repeat top left;

}

@mixin stripe-fluo-corner(){
	width: image-width("corner-fluo-left-stripes.png");
	height: image-height("corner-fluo-left-stripes.png");
	left: - (image-width("corner-fluo-left-stripes.png"));
	position: absolute;
	background: image-url("corner-fluo-left-stripes.png") no-repeat top left;

}

@mixin fluo-corner(){
	width: image-width("corner-left-fluo.png");
	height: image-height("corner-left-fluo.png");
	left: - (image-width("corner-left-fluo.png"));
	position: absolute;
	background: image-url("corner-left-fluo.png") no-repeat top left;

}

a.btn.border{
	@include grid(3);
	@include alpha;
	text-align: center;
	@include border-radius(20px);
	border: 4px $calm-green solid;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	font: 'Droid Sans';
	font-size: 16px;
	color: $extra-dark-green;
	background: $calm-green;
	cursor: pointer;
	&:hover{
		border: 4px $white solid;
	}
	&:visited{
		border: 4px $white solid;
	}
}


a.btn.dark{
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	@include border-radius(30px);
	@include alpha;
	display: inline-block;
	text-decoration: none;
	color:white;
	font-family: 'Droid Sans';
	font-weight: bold;
	font-size: 12px;
	text-transform: lowercase;
	background-color: $dark-green;
	cursor: pointer;
	line-height: 20px;
	&:hover{
		background: $calm-green;
		color: $extra-dark-green;
	}
	&:visited{
		background: $calm-green;
		color: $light-green;
	}
}         

a.btn.grey{
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	@include border-radius(30px);
	@include alpha;
	display: inline-block;
	text-decoration: none;
	color:$light-green;
	font-family: 'Droid Sans';
	font-weight: bold;
	font-size: 12px;
	text-transform: lowercase;
	background-color: $white;
	cursor: pointer;
	line-height: 20px;
	margin-left: 450px;
	&:hover{
		background: $calm-green;
		color: $extra-dark-green;
	}
	&:visited{
		background: $calm-green;
		color: $light-green;
	}
}         

a.btn.grey{
	display: inline-block;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	@include border-radius(30px);
	@include alpha;
	display: inline-block;
	text-decoration: none;
	color:$light-green;
	font-family: 'Droid Sans';
	font-weight: bold;
	font-size: 12px;
	text-transform: lowercase;
	background-color: $white;
	cursor: pointer;
	line-height: 20px;
	margin-left: 450px;
	&:hover{
		background: $calm-green;
		color: $extra-dark-green;
	}
	&:visited{
		background: $calm-green;
		color: $light-green;
	}
}         


.btn.fluo{
	display: inline-block;
	width: 162px;
	height: 22px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	@include border-radius(30px);
	@include alpha;
	display: inline-block;
	text-decoration: none;
	color:$dark-green;
	font-family: 'Droid Sans';
	font-weight: bold;
	font-size: 12px;
	text-transform: lowercase;
	background-color:$fluo-blue;
	cursor: pointer;
	line-height: 14px;
	margin-left: 380px;
	margin-top: 18px;
	&:hover{
		background: $white;
		color: $extra-dark-green;
	}
	&:visited{
		background: $calm-green;
		color: $light-green;
	}
}         



div.buttons{
	@include grid(10);
	padding-left: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}   

                    