@mixin link-over-fluo(){
	text-decoration: none;
	@include link-colors($dark-green, $text-green, $calm-green, $dark-green);
	cursor: pointer;
}

@mixin link-over-dark(){
	text-decoration: none;
	@include link-colors($light-petrolio, $fluo-blue, $light-petrolio, $light-petrolio);
	cursor: pointer;
}

@mixin link-fluo(){
	text-decoration: none;
	@include link-colors($fluo-blue, $azzurro-title, $light-petrolio, $light-petrolio);
	cursor: pointer;
}

@mixin link-over-stripe(){
	text-decoration: none;
	@include link-colors($azzurro-title, $fluo-blue, $azzurro-title,$azzurro-title);
	cursor: pointer;
}

@mixin link-white(){
	text-decoration: none;
	@include link-colors($white, $fluo-blue, $white,$white);
	cursor: pointer;
}

a.btn.border{
	@include grid(3);
	@include alpha;
	text-align: center;
	@include border-radius(20px);
	border: 4px $calm-green solid;
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	font: 'Droid Sans';
	font-size: 16px;
	color: $extra-dark-green;
	background: $calm-green;
	cursor: pointer;
	&:hover{
		border: 4px $white solid;
	}
	&:visited{
		border: 4px $white solid;
	}
}


a.btn.dark{
	@include grid(2);
	text-align: center;
	@include border-radius(30px);
	@include alpha;
	display: inline-block;
	text-decoration: none;
	color:white;
	font-family: 'Droid Sans';
	font-weight: bold;
	font-size: 12px;
	text-transform: lowercase;
	background-color: $dark-green;
	cursor: pointer;
	line-height: 20px;
	&:hover{
		background: $calm-green;
		color: $extra-dark-green;
	}
	&:visited{
		background: $calm-green;
		color: $light-green;
	}
}                                