
#box-pagina-categoria-2{
}


.lezione{
 	width: 638px;
 	height: 209px;
 	background: image-url("box-lezione-categoria.png") no-repeat left top;
 	font-family: 'Droid Sans';
 	display: inline;
 	float: left;
 	margin-top: 30px;
 	
 	   h2{
 	      
 	      font-weight: bold;
 	      font-size: 10px;
 	      line-height: 15px;
 	      text-transform: uppercase;
 	      margin-top: 10px;
 	      margin-left: 70px;
 	      color: $fluo-blue;
 	   						}
 	   						
 	   h1{
 	     width: 281px;
 	     height: 77px;
 	     color: $white;
 	     font-weight: normal;
 	     font-size: 14px;
 	     line-height: 17px;
 	     text-transform: uppercase;
 	     overflow: hidden;
 	     font-weight: normal;
 	     text-transform: lowercase;
 	     margin-left: 70px;
 	
 							}
 							
 							.relatore{
 							font-weight: bold;
 							font-size: 10px;
 						    position: absolute;
 							color: $light-petrolio;
 							margin-top: -40px;
 							margin-left: 70px;
 									
 								}
 								
 								.divisore-3{
 									    margin-left: 70px;
 								        margin-top: -30px;
 								}
 								
 								.icona-audio-b{
 								    position: absolute;
 									margin-top: -90px;
 									margin-left: 33px;
 								}
 								
 								
 								 									
 								.box-number-views{
 									float: left;
 									margin-bottom: 12px;
 									border-bottom: 1px solid $darkest-blue;
 									border-left: 1px solid $dark-blue;
 									border-right: 1px solid $dark-blue;
 									border-top: 1px solid $dark-blue;
 									.number-views{
 										font-weight: normal;
 										font-size: 10px;
 										line-height: 10px;
 										color: $azzurro-fluo;
 										background: $light-petrolio-bg;
 										border-bottom: 1px solid $lighter-green;
 										border-left: 1px solid $water-green;
 										border-top: 1px solid $water-green;
 										border-right: 1px solid $water-green;
 										padding: 2px;
 									}
 								}
 								.views{
 									font-weight: normal;
 									font-size: 10px;
 									line-height: 10px;
 									color: $light-petrolio;
 									float: left;
 									margin-left: 3px;
 									margin-top: 4px;
 								}
 								
 								.box-likes{
 									float: left;
 									margin-bottom: 12px;
 									border-bottom: 1px solid $darkest-blue;
 									border-left: 1px solid $dark-blue;
 									border-right: 1px solid $dark-blue;
 									border-top: 1px solid $dark-blue;
 									.icona-likes{
 									    background: $white;
 									    padding: 5px;
 									}
 								}
 								
 								.number-likes{
 									font-weight: normal;
 									font-size: 10px;
 									line-height: 10px;
 									color: $light-petrolio;
 									float: left;
 									margin-left: 3px;
 									margin-top: 4px;
 								}
 								
 								
 								.box-dislikes{
 									float: left;
 									margin-bottom: 12px;
 									border-bottom: 1px solid $darkest-blue;
 									border-left: 1px solid $dark-blue;
 									border-right: 1px solid $dark-blue;
 									border-top: 1px solid $dark-blue;
 									.icona-dislikes{
 									    background: $white;
 									    padding: 5px;
 									}
 								}
 								
 								.number-dislikes{
 									font-weight: normal;
 									font-size: 10px;
 									line-height: 10px;
 									color: $light-petrolio;
 									float: left;
 									margin-left: 3px;
 									margin-top: 4px;
 								}
 								
}

#extras{
	margin-left: 400px;
	margin-top: -90px;
	position: absolute;
}
