
#box-pagina-categoria-2{
}

.contenuto-singolo{
		@include grid(11);
		margin-top: 5px;	
		
		margin-bottom: 15px;
		margin-left: 30px;
}
.lezione{
 	@include grid(11);
 	width: 620px;
 	
 	background: $light-green;
 	font-family: 'Droid Sans';
 	display: inline;
 	float: left;
 	margin-top: 10px;
 	position: relative;
 	margin-left: 0px;
 	clear: both;
 	.corner.left.big{
 		position: absolute;
 		top: 0;
 		left: - 12px;
 		width: image-width("corner-left-big.png");
 		height: image-height("corner-left-big.png");
	 	background: image-url("corner-left-big.png") no-repeat left top;
 	}
 	
 	   h4{
 	      
 	      font-weight: bold;
 	      font-size: 10px;
 	      line-height: 15px;
 	      text-transform: uppercase;
 	      margin-top: 10px;
 	      margin-left: 70px;
 	      color: $fluo-blue;
 	      a{
 	      	@include link-fluo;
 	       }
		}
 	   						
 	   h3{
 	     width: 281px;
 	     height: 77px;
 	     color: $white;
 	     font-weight: normal;
 	     font-size: 14px;
 	     line-height: 17px;
 	     
 	     overflow: hidden;
 	     font-weight: normal;
 	     
 	     margin-left: 70px;
 	     
 	     a{
 	     	@include link-white;
 	     }
 	
 		}
 							
 							.relatore{
 							font-weight: bold;
 							font-size: 10px;
 						    position: absolute;
 							color: $light-petrolio;
 							margin-top: -40px;
 							margin-left: 70px;
 								a{
 										 	@include link-over-dark;
 									 	}	
 								}
 								
 								.divisore-3{
 									width: 536px;
 									height: 2px;
 									@include background(image-url('divisore-3.png') repeat-x top left);
									margin-left: 70px;
									margin-top: -20px;
									margin-bottom: 10px;
 								}
 								
 								.icon{
 								    font-size: 24px;
 									
 									top: 20px;
 									left: 20px;
 									position: absolute;
 									a{
 										@include link-white;
 									}
 								}
 								
 								
 								 									
 								.box-number-views{
 									float: left;
 									margin-bottom: 12px;
 									border-bottom: 1px solid $darkest-blue;
 									border-left: 1px solid $dark-blue;
 									border-right: 1px solid $dark-blue;
 									border-top: 1px solid $dark-blue;
 									
 									.number-views{
 										font-weight: normal;
 										font-size: 10px;
 										line-height: 10px;
 										color: $azzurro-fluo;
 										background: $light-petrolio-bg;
 										border-bottom: 1px solid $lighter-green;
 										border-left: 1px solid $water-green;
 										border-top: 1px solid $water-green;
 										border-right: 1px solid $water-green;
 										padding: 2px;
 									}
 								}
 								.views{
 									font-weight: normal;
 									font-size: 10px;
 									line-height: 10px;
 									color: $light-petrolio;
 									float: left;
 									margin-left: 3px;
 									margin-top: 4px;
 									margin-right: 15px;
 								}
 								
 								.box-likes{
 									float: left;
 									margin-bottom: 12px;
 									border-bottom: 1px solid $darkest-blue;
 									border-left: 1px solid $dark-blue;
 									border-right: 1px solid $dark-blue;
 									border-top: 1px solid $dark-blue;
 									.icona-likes{
 									    background: $white;
 									    padding: 0px 5px;
 									    i{
 									    	font-size: 16px;
 									    	color: $azzurro-title;
 									    }
 									}
 								}
 								
 								.number-likes{
 									font-weight: normal;
 									font-size: 10px;
 									line-height: 10px;
 									color: $white;
 									float: left;
 									margin-left: 3px;
 									margin-top: 4px;
 									margin-right: 15px;
 								}
 								
 								
 								.box-dislikes{
 									float: left;
 									margin-bottom: 12px;
 									border-bottom: 1px solid $darkest-blue;
 									border-left: 1px solid $dark-blue;
 									border-right: 1px solid $dark-blue;
 									border-top: 1px solid $dark-blue;
 									
 									.icona-dislikes{
 									    background: $white;
 									    padding: 0px 5px;
 									    i{
 									    	font-size: 16px;
 									    	color: $azzurro-title;
 									    	position: relative;
 									    	top: -2px;
 									    }
 									}
 								}
 								
 								.number-dislikes{
 									font-weight: normal;
 									font-size: 10px;
 									line-height: 10px;
 									color: $white;
 									float: left;
 									margin-left: 3px;
 									margin-top: 4px;
 									margin-right: 15px;
 								}
 								
}

#extras{
	margin-left: 400px;
	margin-top: -90px;
	position: absolute;
}
