
#box-esercizio{
background: url('../images/diagonal-green-scuro-bg.png?1348145515') repeat top left;
   width: 599px;
   @include clearfix;
   margin-left: 30px;
   border-top-right-radius: 10px;
   font-weight: bold;
   
        h1{
         width: 20px;
         font-size: 17px;
         text-transform: uppercase;
         color: $white-azzurro;
         font-family: 'Droid Sans';
         font-weight: bold;
         line-height: 20px;
         margin-left: 50px;
         float: left;
         padding-top: 5px;

         }
             
         h2{
         	width: 497px;
         	font-size: 17px;
         	color: $white-azzurro;
         	font-family: 'Droid Sans';
         	font-weight: normal;
         	margin-left: 74px;
         	line-height: 20px;
         	padding-top: 5px;
         	
         }
         
         p{
            width: 504px;
         	font-size: 12px;
         	color: $light-petrolio;
         	font-family: 'Droid Sans';
         	font-weight: normal;
         	line-height: 14px;
         	margin-top: 10px;
         	margin-left: 74px;
         	padding-bottom: 15px;
         }
         img{
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 5px;
             @include single-box-shadow;
         }
         
 }
 
 #linea{

  background-color: $light-green;
  height: 1px;
  width: 599px;
  margin-top: 1px;
  margin-left: 30px;
  margin-bottom: 30px;
  }