
#estratto-carica-testo{
	background-color: $light-grey;
	border: 1px solid $grey;
	width: 620px;
	height: 330px;
	
	  $default-box-shadow-h-offset: 0px;
	      $default-box-shadow-v-offset: 2px;
	      $default-box-shadow-blur: 1px;
	      $default-box-shadow-spread: true;
	      $default-box-shadow-color: $dark-green;	       
	  @include single-box-shadow();
	  
	  
	 form fieldset {
	  	margin: 0px 0 20px 30px;
	  	font-family: 'Droid Sans';
	  	font-size: 15px;
	  	font-weight: bold;
	  	text-transform: uppercase;
	  	color: $light-green;
	  	margin-top: -23px;
	  	
	  	}
	  
	  /*form fieldset label {
	  	display: block;
	  	font-weight: bold;
	  	color: $azzurro_title;
	  	margin-left: -10px;
	  	}*/
	  	
	  	label {
	  		
	  		display: block;
	  		margin: 21px 0 5px 0;
	  		font-weight: bold;
	  		text-transform: uppercase;
	  		color: #7ac3b8;
	  	}
	  	
	  	
	 	  	
	  .preview{
	  	background-color: $dark-green;
	  	width: 147px;
	  	height: 32px;
	  	border-radius: 20px;
	  	margin-left: 14px;
	  	margin-top: 30px;
	  	  
	  	  
	  	 h1{
	  	 color: $white;
	  	 font-family: 'Droid Sans';
	  	 font-size: 12px;
	  	 font-weight: bold;
	  	 text-transform: uppercase;
	  	 position: absolute;
	  	 margin-top: 7px;
	  	 margin-left: 19px;
	  	 }
	  }
	  
	  
	  .preview:hover, {
	  	border: 1px solid #bbb;
	  	background: $text-green;
	  	}
	  
	  
	 /* .sottolineato{
	  	background: image-url("sottolineato-form.png") no-repeat left top;
	  	width: 77px;
	  	height: 6px;
	  	margin-left: 3px;
	  }*/
	  
	  form fieldset textarea {
	    margin-left: -15px;
	  	display: block;
	  	width: 578px;
	  	padding: 5px;
	  	font-size: 14px;
	  	border: 1px solid #65c1b0;
	  	background: #b9efeb;
	  	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	  	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	  	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.05);
	  	-webkit-border-radius: 4px;
	  	-moz-border-radius: 4px;
	  	border-radius: 4px;
	  	}
	  
	  form fieldset textarea {
	  	height: 178px;
	  	}
}
