#lesson{
	width: 100%;
	height: 400px;
	margin-top:10px;
	background: image-url("diagonal-green-bg.png") repeat left top;
	margin-left: 10px;
	padding-left: 10px;
	position: relative;
	a{
		@include link-over-fluo;
	}
	.corner{
		@include fluo-corner;
	}
	.infor{
		@include grid(5);
		height:100%;
		position: relative;			
		.comm{
			@include grid(5);
			@include omega;
			@include alpha;
			.container-comments{	
					height: auto;
					@include clearfix;					
					margin-top:20px;
					margin-bottom:20px;
					border-right: 1px solid #C5FFEA;
					float: left;
					&.first{
						
						padding-right: 10px;
					}
					&.center{
						margin-left: 12px;
						margin-right: 7px;
						width: 80px;
					}
					&.last{
						border-right: none;
						float: right;
					}
					.box-number-comments{
						float: left;
						border-bottom: 1px solid $verde-scuro;
						border-left: 1px solid $verde-medio;
						border-right: 1px solid $verde-medio;
						border-top: 1px solid $verde-medio;
					.number-comments{
						font-weight: normal;
						font-size: 10px;
						line-height: 10px;
						color: $dark-green;
						background: $light-fluo-green;
						border-bottom: 1px solid $lightest-water-green;
						border-left: 1px solid $lighter-water-green;
						border-top: 1px solid $lighter-water-green;
						border-right: 1px solid $lighter-water-green;
						padding: 2px;
						text-align: center;
					}
				}
				.comments{
					font-weight: normal;
					font-size: 10px;
					line-height: 10px;
					color: $dark-green;
					text-transform:lowercase;
					float: left;
					margin-left: 4px;
					margin-right:1px;
					margin-top: 4px;
				}
			}

		}
		.aut-date{
			position: absolute;    
			bottom: 9px;				
			.number{                          
				background-color: $dark-green;
				width: 19px;
				height: 19px;
				color: white;
				font-weight: bold;
				font-size: 12px;
				position: relative;
				float: left;
				text-align: center;
				border-radius: 10px;
				padding: 1px 0 0 1px;
				margin-top: -2px;
				margin-right:5px;
			}
			p.data-commento{
				margin-left:15px;
				text-transform: uppercase;
				font-weight:bold;
				font-size:10px;
				color: $dark-green;
			
				span{
					text-transform: capitalize;
					margin-left:3px;
					margin-right:3px;
					font-weight: 400;              
					}
			}
				
			
			hr{
				@include grid(5);
				border: 0;
				height: 1px;
			}
			.top{
				margin: 8px 0 0 0;
				background: $acid-green;
			}
			.bottom{
				margin: 0 0 12px 0;
				background: $pale-water-green;
			}
		}
	}
	.foto{
		@include float-right;
		width:640px;
		margin-left:19px;
		margin-right:0;
		background-color: $fluo-blue-3;
		height:100%;           
	}
	h3{
		font-size: 15px;
		color: $dark-green;
		font-family: 'Droid Sans';
		font-weight: 700;
		text-transform: uppercase;
		padding-top: 20px;		
	}

	h1{
		font-size: 25px;
		line-height: 30px;
		color: $dark-green;
		font-family: 'Droid Sans';
		font-weight: 700;
		text-transform: uppercase;
		padding-bottom: 7px;
		$default-text-shadow-h-offset: 0px;
		$default-text-shadow-v-offset: 2px;
		$default-text-shadow-blur: 1px;

		$default-text-shadow-color: $pale-water-green;	       
		@include single-text-shadow();
	}

	h4{
		color: $dark-green;
		font-weight: 700;
		font-family: 'Droid Sans';
		text-transform: uppercase;
		font-size: 13px;
		span{
			color: $light-green;
			font-weight: 400;
			text-transform: capitalize;
		}
	}
	p{
		color: $dark-green;
		font-weight: 700;
		font-family: 'Droid Sans';
	}
}	
