.pagination {
height: 60px;
	
		ul {
			text-align: center;
			height: 400px;
			padding-top: 40px;
			}
		 ul li {
			display: inline;
			margin: 0 4px 0 0;
			}
		 ul li a {
			font-size: 13px;
			font-weight: bold;
			font-family: 'Droid Sans';
			color: $white;
			border: 1px solid #ddd;
		    background: #54626A;
			border-radius: 6px;
			}
		 ul li a:hover,
		 ul li a:focus {
			background: $light-green;
			border-color: #ccc;
			}
		 ul li a:active {
			background: $light-petrolio;
			border-color: #ddd;
			}				
		
			
}