.pager.clear-block {
height: 60px;
overflow: visible;
@include grid(11);
width: 620px;
        .pager-current{
        
			
			height: 40px;
			span{
				display: inline-block;
				padding: 5px 14px;
				border: 1px solid #ddd;
				background-color: $light-green;
				@include border-radius(6px);
				color: $white;
			}
        }
        


		ul {
			height: 40px;
			padding-top: 40px;
			@include float-left;
			}
		 ul li {
			display: inline;
			margin: 0 4px 0 0;
			ont-size: 13px;
			font-weight: bold;
			font-family: 'Droid Sans';
			
			
			a{
				color: $white;
			}
			}
		 ul li a {
			
			border: 1px solid #ddd;
		    background-color: #5F7077;
			@include border-radius(6px);
			
			}
			
		 ul li a:hover,
		 ul li a:focus {
			background: $light-green;
			border-color: #ccc;
			}
		 ul li a:active {
			background: $light-petrolio;
			border-color: #ddd;
			}				
		
		
		
	.links.pager.pager-links{
		height: 60px;
		margin-left: 15px;
		
		
		}
			
		
	}	
		
		
		