.paragrafo-video-corso{
	float: left;
	width: 520px;
	margin-left: 40px;
	margin-top: 40px;

	 p{

	   	font-family: 'Droid Sans';
	   	font-weight: normal;
	   	font-size: 13px;
	   	color: $text-green;

	 }

	 a{
	 font-weight: bold;
		@include link-over-dark;
	 }

}