#prefooter{
	width: 100%;
	height: auto;
	@include clearfix;
	margin-left: 30px;
	margin-bottom: 25px;
	hr{
		width: 933px;
		height: 1px;
		border: 0;
		background: #B1F2E6;
		margin: 17px 0 9px 0;
		}
	.categoria-container:last-child{
		margin: 9px 0 0 0;
	}
	.categoria-container{
		float: left;
		margin: 9px 10px 0 0;		
		.categoria-title{
				width: 108px;
				height: 31px;
				background: image-url("diagonal-white-bg.png") repeat left top;
				margin: 0 0 10px 0;
				
				
			.icon{

				@include float-left;
				display: block;
				color: $green-title;
				padding: 0 5px;
				font-size: 22px;
				line-height: 33px;
       
				}
		h1{
			font-family: 'Droid Sans';
			font-weight: 400;
			font-size: 10px;
			line-height: 9px;
			text-transform: uppercase;
			color: $azzurro-title;
			padding-top: 6px;
			
			/*float: left;
			margin-top: 6px; */
			a{
				@include link-over-stripe;
			}
			}
		}
		li:last-child{
			margin-right: 0;
			}
		
		.sottocategoria{
			width: auto;
			height: auto;
			//		margin-right: 10px;
			//		margin-bottom: 20px;
			margin: 0;
			list-style-type: none;
			li{
				height: auto;
				width: 99px;
				background: none;
				float: none;
				font-family: 'Droid Sans';
				font-weight: 400;
				font-size: 12px;
				line-height: 15px;
				margin: 0 0 12px 0;
				padding: 0;
				a{
					text-decoration: none;
					@include link-over-stripe;
					}
				a:hover, a:visited{
					@include link-over-stripe;
					}
				}
			}
		}
}

