.edit-container{
	@include grid (10);
	@include clearfix;		
	background-color: $soft-blue;
	padding-top:20px;
	padding-bottom: 20px;
	@include grid-prefix(1);
	@include grid-suffix(1);
	fieldset {
			
			
			font-family: 'Droid Sans';
			font-size: 13px;
			position: relative;
			@include clearfix;
			@include grid (10);
		
		label {
			
			display: block;
			margin: 30px 0 5px 0;
			font-weight: bold;
			text-transform: uppercase;
			color: #7ac3b8;
		}
		input.form-text {
			display: block;
			@include grid (9);
			height:40px;
						
			font-size: 20px;
			font-family: 'Droid Sans';
			border: 1px solid #65C1B0;
			background: #b9efeb;
			
			@include single-box-shadow(rgba(0,0,0,.05),0, 1px, 2px, false, true);
			@include border-radius(4px);
			$default-text-shadow-h-offset: 0px;
			$default-text-shadow-v-offset: 2px;
			$default-text-shadow-blur: 1px;
			$default-text-shadow-spread: false;
			$default-text-shadow-color: $white;        
			@include single-text-shadow();
			@include alpha;
		}
		
	}
	#asterisco{
			background: image-url("asterisco.png") no-repeat;
			width: 28px;
			height: 28px;
			position: absolute;
			right: 40px;
			top: 45px;
	}
	
	
	select{
		
		border: 1px solid #65C1B0;
		font-size:18px;
		font-family: 'Droid Sans';
		color:#2f6f5e;
		$default-text-shadow-h-offset: 0px;
		$default-text-shadow-v-offset: 2px;
		$default-text-shadow-blur: 1px;
		$default-text-shadow-spread: false;
		$default-text-shadow-color: $white;
		@include background( image-url("freccia-select.png") no-repeat right, image-url("ombra-select.png") repeat-x right , #7ddbd2 );       
		-webkit-appearance: none;
		&.standard{
			@include grid(3);
			height: 40px;
			@include alpha;
			display: inline-block;
		}
	
		&.last{
			@include grid(3);
			height: 40px;
			@include alpha;
			display: inline-block;
		}
		
	}

	label.horizontal{
		@include grid(3);
		@include alpha;
		
	}


	.radio-container{
	
		input.radio-button{
			margin-left: 10px;
			margin-right: 10px;
			height:25px;
			float:left;
		}
		p{
			color:#519082;
			font-family: 'Droid Sans';
			height:25px;
			width:25px;
			font-size:25px;
			float:left;
			margin-right:40px;
		}
	}
	
	
	.cap-text {
		
		@include grid(3);
		@include alpha;
		display: inline-block;
		height:30px;
		margin-right:30px;			
		font-size: 20px;
		font-family: 'Droid Sans';
		border: 1px solid #65C1B0;
		background: #b9efeb;
		text-align: center;
	
		@include single-box-shadow(rgba(0,0,0,.05),0, 1, 2px, false, true);
		@include border-radius(4px);
		$default-text-shadow-h-offset: 0px;
		$default-text-shadow-v-offset: 2px;
		$default-text-shadow-blur: 1px;
		$default-text-shadow-spread: false;
		$default-text-shadow-color: $white;        
		@include single-text-shadow();
		
	}

}