#risposta-vero-falso{

	background: $soft-blue;
	width: auto;
	height: auto;
	margin-left: 30px;
	
	
	
	.option{
	color: $azzurro_title;
	font-family: 'Droid Sans';
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 80px;
	padding-top: 30px;
	$default-text-shadow-h-offset: 0px;
	    $default-text-shadow-v-offset: 2px;
	    $default-text-shadow-blur: 1px;
	   
	    $default-text-shadow-color: $white;	       
	@include single-text-shadow();
	
	
	}
	
	  }
	
	  
	  
