#form-risposta-multipla{
background: none;
width: 620px;
height: 200px;



   p{
   font-family: 'Droid Sans';
   font-size: 12px;
   font-weight: normal;
   color: $text-green;
   line-height: 14px;
     }
   
   .risposta1{
   	float: left;
   	margin-right: 10px;
   }
   .risposta2{
   	float: left;
   	margin-right: 10px;
   	
   }
   .risposta3{
   	float: left;
   	margin-right: 10px;
   	
   }
   
	  }