.risposta-esercizio-select{
	@include grid (11);
	@include clearfix;
	background-color: $soft-blue;		
	fieldset {			
			font-family: 'Droid Sans';
			font-size: 13px;
			position: relative;
		
		label {
			@include float-left;
			display: block;
			margin: 30px 0 5px 0;
			
			color: $dark-green;
		}
			
	}
	
	select{
		@include float-left;
		border: 1px solid #65C1B0;
		font-size:16px;
		font-family: 'Droid Sans';
		color:$dark-green;
		$default-text-shadow-h-offset: 0px;
		$default-text-shadow-v-offset: 2px;
		$default-text-shadow-blur: 1px;
		$default-text-shadow-spread: false;
		$default-text-shadow-color: $white;
		@include background( image-url("freccia-select.png") no-repeat right,image-url("ombra-select.png") repeat-x right , #7ddbd2);       
		-webkit-appearance: none;
		&.standard{
			@include grid(3);
			height: 40px;
			width: 286px;
			@include alpha;
			margin-left: 10px;
			display: inline-block;
			margin-top: 20px;
		}
	
		&.last{
			@include grid(3);
			height: 20px;
			@include alpha;
			display: inline-block;
		}
		
	}

	label.horizontal{
		@include grid(3);
		@include alpha;
		
	}


		
	
}