.sidebar-list{
	background-color: $light-grey;
	border: 1px solid $grey;
	@include grid(5);
	@include omega;
	@include alpha;
	height: auto;
	margin: 17px 0 0 0;

	h4{
		font-family: 'Droid Sans';
		font-weight: 400;
		font-size: 10px;
		line-height: 9px;
		text-transform: uppercase;
		color: $azzurro-title;
		padding: 12px; 
		}

	ul{
		list-style: none;
		@include grid(5);
		@include alpha;

	li{
		margin: 0 3px 1px 3px;
		
		a{
			text-decoration: none;
			
			&:hover{
				.box-sidebar{
					
					.icon{
						color: $fluo-blue;
					}
					.posted-by{
						color: $fluo-blue;
					}
				}
			}
			&:visited{
				.box-sidebar{
					background-color: $calm-green;
					.icon{
						color: white;
					}
					.posted-by{
						color: white;
					}
				}
			}
			
			.box-sidebar{
				font-family: 'Droid Sans';
				padding-left: 48px;
				background-color: $light-green;
				.icon{
					width: 25px;
					height: 25px;
					position: relative;
					margin-left: -35px;
					margin-top: 20px;
					float: left;
					font-size: 24px;
					color: white;
					}
				h2{
					width: 200px;
					font-weight: normal;
					font-size: 12px;
					line-height: 15px;
					color: white;
					padding: 12px 0 0 0;
					margin: 0;
					}
				.posted-by{
					width: 200px;
					font-weight: bold;
					font-size: 10px;
					line-height: 13px;
					color: $light-petrolio;
					padding: 2px 0 12px 0;
					margin: 0;
					}
				}
			}
		}    
	}
}