@import "partials/grid";
@import "partials/text";

@import "compass/utilities/general/clearfix";

body{
	-webkit-font-smoothing: antialiased;
}

input[type=search] {
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


div.row{
	width: 100%;
	display: block;
	@include clearfix;
	min-height: 1px;	
}

.contenitore{
	@include grid-container;
	div.content{
		@include grid(11);
		min-height: 1px;
	}
	div.sidebar{
		@include grid(5);
		@include float-right;
	}
}