
#textarea-commenti{
	background-color: $light-green;
	width: 1158px;
	height: 245px;
	float: right;
	
	  	 form fieldset {
	  	margin: 0px 0 20px 30px;
	  	font-family: 'Droid Sans';
	  	font-size: 18px;
	  	font-weight: bold;
	  	text-transform: uppercase;
	  	color: $light-green;
	  	margin-top: -23px;
	  	
	  	}
	  
	  	  .preview-commento{
	  	background-color: $dark-green;
	  	width: 93px;
	  	height: 22px;
	  	border-radius: 20px;
	  	float: right;
	  	margin-right: -115px;
	  	margin-top: 225px;
	  	  
	  	  
	  	  	h1{
	  	 color: $white;
	  	 font-family: 'Droid Sans';
	  	 font-size: 12px;
	  	 font-weight: bold;
	  	 text-transform: lowercase;
	  	 position: absolute;
	  	 margin-top: 1px;
	  	 margin-left: 23px;
	  	 }
	  	 
	  	 h1:active{
	  	 color:$fluo-blue;
	  	 }
	  	 
	  }
	 	  
	  
	  
form fieldset textarea {
	  	display: block;
	  	width: 578px;
	  	padding: 5px;
	  	margin-right: 10px;
	  	font-size: 14px;
	  	border-top: 1px solid #166059;
	  	border-left: 1px solid #166059;
	  	border-bottom: 1px solid $azzurro-title;
	  	border-right: 1px solid $azzurro-title;
	  	background: #057771;
	  	border-radius: 2px;
	    float: right;
	  	margin-top: 35px;
	  	color: $white;
	  	}
	  
	  form fieldset textarea {
	  	height: 209px;
	  	}
		  	
	  	
	  	
}