
//	BARRA REGISTRATI


#titolo-registrati{

  background: image-url("diagonal-green-scuro-bg.png") repeat left top;
   height: 400px;
   height: 400px;
   width: 620px;
   height: 50px;
   margin-left: 30px;
   border-top-right-radius: 10px;
   font-weight: bold;

 }
 
 #titolo-registrati h1{
 
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    color: $white-azzurro;
    font-family: 'Droid Sans';
    margin-left: 20px;
    margin-top: 8px; 
    
    /*font-weight: 400;*/
    
    
 }

#linea{

  background-color: $light-green;
  height: 1px;
  width: 620px;
  margin-top: 1px;
  margin-left: 30px;
  margin-bottom: 30px;
  }
  
  //	FINE BARRA REGISTRATI  
  
  