.sidebar-avatars{
	background-color: $light-grey;
	border: 1px solid $grey;
	
	@include omega;
	@include alpha;
	height: auto;
	margin: 17px 0 0 0;
	

	h4{
		font-family: 'Droid Sans';
		font-weight: 400;
		font-size: 10px;
		line-height: 9px;
		text-transform: uppercase;
		color: $azzurro-title;
		padding: 12px; 
		}

	ul{ 
	
		list-style: none;
		
		@include alpha;
		@include horizontal-list-container;
		background-color: $light-green;
		padding: 20px 5px;
				li{
			a:hover{
				img{
					@include single-box-shadow;
					
				}
				
			}
			@include horizontal-list-item;
			padding: 2px !important;
			img{
				background-color:white;
				width:50px;
				height:50px;
				
				
			}
		}
	}    
}